<#% ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here,
                                          ::Deepblue::LoggingHelper.called_from,
                                          "presenter.class.name=#{presenter.class.name}",
                                          "" ] %>
<% if presenter.thumbnail_path %><%# hyrax v3 update %>
  <%= image_tag presenter.thumbnail_path,
                class: "representative-media",
                alt: "",
                role: "presentation" %>
<% else %>
  <span class="<%= Hyrax::ModelIcon.css_class_for(::Collection) %> collection-icon-search" aria-hidden="true"></span>
<% end %>
