<% rv_has_alt_views = false
begin
  rv_has_alt_views = has_alternative_views?
rescue Exception => e
  ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here,
                                         ::Deepblue::LoggingHelper.called_from,
                                         "ERROR",
                                         "e=#{e.class.name}",
                                         "e.message=#{e.message}",
                                         "e.backtrace:" ] + e.backtrace[0..10]
end
%>
<% if rv_has_alt_views %>
<div class="view-type pull-right">
  <span class="sr-only"><%= t('blacklight.search.view_title') %></span>
  <div class="view-type-group btn-group">
    <% unless Flipflop.limit_browse_options? %>
      <% document_index_views.each do |view, config| %>
        <%= link_to collection_path(params[:id], view: view), title: t("blacklight.search.view_title.#{view}", default: t("blacklight.search.view.#{view}", default: blacklight_config.view[view].title)), class: "btn btn-default view-type-#{view.to_s.parameterize } #{"active" if document_index_view_type == view}" do %>
          <%= render_view_type_group_icon view %>
          <span class="caption"><%= t("blacklight.search.view.#{view}") %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% end -%>
