<%  a = ::Deepblue::DraftAdminSetService.draft_admin_set %>
<% works = a.present? ? a.members : [] %>
<% if works.size > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div style="font-weight: 700;">Your Draft Works</div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% works.each do |work| %>
                <% if current_ability.can?(:edit, work) %>
                  <tr>
                    <td>
                      <%= link_to work.title.first,
                          edit_polymorphic_path([main_app, work]),
                          { title: t('.edit_title', file_set: work) } %></td>

                    <td ><%= work.creator.first %></td> 
                    <td>
                      <%= link_to [main_app, work],
                                  method: :delete,
                            data: {
                            confirm: t("hyrax.dashboard.my.action.work_confirmation", application_name: application_name) } do %>
                              <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                              <span> <%= t("hyrax.dashboard.my.action.delete_work") %> </span>
                            <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
