<div class="form-actions">
  <% if @presenter.can_edit_file? %>
    <%= link_to t('simple_form.actions.file_set.edit'), edit_polymorphic_path([main_app, @presenter]), class: 'btn btn-primary' %>
  <% end %>
  <% if @presenter.can_delete_file? %>
    <%= link_to t('simple_form.actions.file_set.delete'), [main_app, @presenter],
                class: 'btn btn-danger', data: { confirm: "Delete this #{@presenter.human_readable_type}?" },
                method: :delete %>
  <% end %>

  <%#= render 'social_media' %>

  <% if Hyrax.config.analytics? && !@presenter.single_use_show? && current_user %>
    <div class="panel panel-default panel-analytics">
      <div class="panel-heading">
        <h2><%= t('simple_form.labels.file_set.analytics') %></h2>
      </div>
      <div class="panel-body">
        <%= link_to t('simple_form.actions.file_set.analytics'),
                    @presenter.relative_url_root + @presenter.stats_path,
                    id: 'stats',
                    class: 'btn btn-default',
                    data: {turbolinks: false} %>
      </div>
    </div>
  <% end %>

</div>
