<% provide :page_header do %>
  <h1><%= "Job Workers" %></h1>
<% end %>

<!-- h2 class="title-header">Actions</h2 -->
<%#= link_to(
      'All',
      Rails.application.routes.url_helpers.job_statuses_path,
      class: 'btn btn-default'
    ) %>
&nbsp;&nbsp;

<br/>

<!-- table>
  <thead>
  <tr>
    <td>Run At</td>
    <td>Queue</td>
    <td>Job ID</td>
    <td>Priority</td>
    <td>Job Class</td>
    <td>Provider Job ID</td>
    <td>Arguments</td>
  </tr>
  </thead>

  <tbody>
    <%# @job_workers.each do |job_worker| %>
      <tr>
        <td><%#= job_worker.run_at %></td>
        <td><%#= job_worker.queue %></td>
        <td><%#= job_worker.job_id %></td>
        <td><%#= job_worker.priority %></td>
        <td><%#= job_worker.job_class %></td>
        <td><%#= job_worker.provider_job_id %></td>
        <td><%#= raw job_worker.job_args_as_table %></td>
      </tr>
    <%# end %>
  </tbody>
</table -->

<table>
  <thead>
  <tr>
    <td>Run At</td>
    <td>Arguments</td>
  </tr>
  </thead>

  <tbody>
  <% @job_workers.each do |job_worker| %>
    <tr>
      <td><%= job_worker.run_at %></td>
      <td><div class="documentation-div"><%= raw job_worker.job_args_as_table %></div></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


