<% license = Hyrax::RightsLicenseService.new %>

<% if ((license.select_active_options.join(",").split(',').include? (curation_concern.rights_license)) || (curation_concern.date_uploaded==nil) )%>
<% options = license.select_active_options.dup %>
<% else %>
<% options = license.select_all_options.dup %>
<% end %>

<div class="form-group string required radio_buttons data_set_rights_license" id="data_set_rights_license">
    <%= f.label :rights_license %>
    <%= f.hint :rights_license %>
    <%= f.collection_radio_buttons(:rights_license,
                                   options,
                                   :last,
                                   :first,
                                   item_wrapper_class: 'radio radio-button-span',
                                   input_html: { class: 'form-control' } ) do |b|
        ( content_tag :p do
            b.label { b.radio_button(required: true) + b.text }
        end ) + 
        ( content_tag :aside do
            t_uri(:description, scope: [ :rights_license, b.value ])
        end )
    end %>
</div>
