<!-- div class="col-sm-12">
  <h2 class="panel-title">Active Ingest Append Script</h2>
  <%# path = @presenter.active_ingest_append_script %>
  <%# if path.present? %>
    <code><a href="<%#= @presenter.ingest_append_script_prep_path( path: path ) %>" ><%#= File.basename path %></a></code>
  <%# else %>
    No append script currently running.
  <%# end %>
</div -->
<div class="col-xs-12">
  <div class="ingest-append-script-files">
    <div id="ingest_append_script_controls" class="panel panel-ingest-append-scripts">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#ingest_append_script_controls_collapse">
          <h2 class="panel-title"><%= t('hyrax.base.ingest_append_scripts.actions.header') %>
            <i class="fa fa-chevron-right pull-right"></i></h2>
        </a>
      </div>
      <div id="ingest_append_script_controls_collapse" class="panel-body panel-collapse collapse panel-ingest-append-scripts">
        <% if @presenter.ingest_append_script_files.empty? %>
          <%= t('hyrax.base.ingest_append_scripts.empty', type: "Work" ) %>
        <% else %>
          <%= render 'data_set/ingest_append_script_files', presenter: @presenter, all_links: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
