.text-bold {
  font-weight: bold;
}

* {
  font-family: "Open Sans", sans-serif;
}


/* To remove Pageview legend on Analytics page  */
#usage-stats .legend {
  display: none;
}

/** 
Design System alert announcements for Warning(orange), Informational(blue), Error(red) 
**/

.update-alert--warning {
  background-color: #ffeedd;
  color: rgb(170, 86, 0);
  border-bottom: 1px solid rgb(231, 117, 4);
  border-color: rgb(231, 117, 4);
}

.update-alert--warning a {
  color: rgb(170, 86, 0);
}

.update-alert--informational {
  color: rgb(12, 82, 146);
  border-bottom: 1px solid rgb(18, 109, 193);
  background: rgb(230, 243, 255);
  border-color: rgb(18, 109, 193);
}

.update-alert--error {
  color: rgb(197, 59, 38);
  border-bottom: 1px solid rgb(237, 93, 71);
  background: rgb(255, 234, 231);
  border-color: rgb(237, 93, 71);
}

.update-alert-container {
  font-size: 0.9rem;
  padding: 0.25em;
}

.update-alert-container p {
  padding: 0.75em 0 0.75em 1.25em;
}

.update-alert a {
  text-decoration: underline;
  color: rgb(170, 86, 0);
}

/* Describe Work/Collections Form */
h2.non.lower {
  text-align: center;
  background-color: #fafafa;
  padding: 0.75em;
  margin: 0;
  border-bottom: 2px solid #e5e5e5;
}

#page-positioner .form-group {
  margin: 1em;
  padding: 0 0.5em;
}

#works_edit,
#descriptions_display {
  background-color: #fff;
}

div.nogroup {
  background-color: #fff;
}

form#new_generic_work,
form#new_collection,
.edit_generic_work,
.simple_form.editor {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.describe_sub {
  margin: 1em;
  padding: 0 0.5em 0.5em;
}

.help-block {
  font-size: 0.85em;
}

/* To support [more...] and [less...] */
a.morelink {
  text-decoration: none;
  outline: none;
}
.morecontent span {
  display: none;
}
/* End [more...] and [less...] */

.multi_value .field-controls .btn.add.btn-add-another::before {
  content: " + ";
}

ul.tabular_list {
  padding: 0.5em;
}

.primary-actions {
  margin: 1em;
  padding-bottom: 1em;
  text-align: center;
}

/* to support use of bootstrap cells within the list items */
ol.catalog li:after {
  content: "";
  display: table;
  clear: both;
}

.multi_value ul.listing {
  max-width: none;
}

.multi_value .field-controls .btn.remove {
  width: 15em;
}

.attributes .attribute {
  list-style: none;
}

.attributes ul {
  margin: 0;
  padding: 0;
}

.attributes td {
  width: 75%;
}

.attributes thead th {
  text-align: left;
  font-size: 1.2em;
}

.smalltext {
  font-size: 0.65em;
}

/* Make the PDF icon not as big as my head */

.generic-icon {
  max-width: 8em;
}

/* To support [more...] and [less...] */
a.morelink {
  text-decoration: none;
  outline: none;
}
.morecontent span {
  display: none;
}
/* End [more...] and [less...] */

#page-positioner {
  background-color: #f2f2f2;
}

footer {
  background-color: #fff;
}

/*** Deposit Work Page ***/

div.not-required {
  background-color: #fafafa;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 1.5em;
}

.date-add-coverage-button::before {
  content: " + ";
}

.date-reset::before {
  content: " - ";
}

.date-reset {
  float: right;
}

.radio aside {
  padding: 0 0 0.25em 1em;
}

div.radio p {
  margin: 0;
}

.radio p > label {
  font-weight: bold;
}

/**** Buttons for Works/Collections/Upload Forms ****/
.data-buttons {
  text-align: center;
}

a.cancel-btn {
  padding: 0.75em 0;
  font-size: 0.95em;
}

.confirm-group {
  text-align: center;
  padding: 1em 0;
}

/**** Search Results *****/

#search-results ul.catalog {
  list-style: none;
}

/*** Deposit Intro Page ****/

.position-page {
  max-width: 45em;
  margin: 2em auto;
  background: #fff;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  padding-bottom: 1em;
}

.position-page h2 {
  padding-top: 1em;
}

.position-page .text-block {
  text-align: center;
  padding: 0 2.5em;
}

.position-page ul {
  list-style: none;
  padding: 1em 0;
}

.position-page ul li {
  display: inline-block;
  vertical-align: middle;
}

.position-page .input-group {
  padding: 0.5em 3em;
}

span.icon.arrow:before {
  content: url(https://www.lib.umich.edu/falafel/v0/icons/white/arrow_right.svg);
  position: relative;
  top: 6px;
  display: inline-block;
}

.emphasis {
  color: #126dc1;
  margin: 0;
  font-weight: 500;
}

.collection-icon-search {
  color: #2c72b6;
  font-size: 6em;
}

/*** Files/Uploads ***/

.well-title {
  margin-top: 0;
  padding: 19px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fafafa;
}

.well {
  min-height: 20px;
  padding: 0;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-inner-wrapper {
  padding: 0 19px 19px;
}

.fileupload-buttonbar {
  padding: 1.5em 0 0.5em;
}

table.work-description {
  background-color: #fff;
  border: 1px solid #e3e3e3;
}

/*** Confirm Page ***/

form.copy-url > .input-group {
  padding: 0;
}

.box-padding {
  padding: 0.5em 3.5em;
}

.dashboard-btn {
  margin: 0.5em 0;
}

/**** Footer ****/

footer > .ribbon-content p {
  padding-left: 0;
}

/**** Utility Classes ****/

.top-border {
  border-top: 2px solid #e5e5e5;
  padding: 1em 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.emphasis-text {
  padding-top: 1em;
  font-size: 1.1em;
  color: #126dc1;
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

/* Fixes for insanely-positioned facet values on "My Works" and "My Collections" page. */
.dropdown-menu,
.twitter-typeahead .tt-menu {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  box-shadow: none;
  margin: 1px 0 0;
  padding: 1px 0;
  position: static;
  top: auto;
  z-index: 1000;
}

.facet-values {
  display: table;
}

.panel {
  background-color: #f2f2f2;
  box-shadow: none;
}

div.panel-body {
  background-color: #fff;
}

.pagination > a.disabled {
  color: #000000;
  pointer-events: none;
  cursor: default;
}

th.alert-warning {
  font-weight: normal;
}

/* Tooltip text */
.hastooltip .tooltip {
  visibility: hidden;
  width: 60%;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 2px;

  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  bottom: 125%;
  left: 20%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hastooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.provenance-log-entries * {
  font-size: 0.8rem;
  /* background-color: pink; */
  margin: 1px;
  padding: 1px;
}

.provenance-log-container {
  width: 100%;
  /* border: 1px solid red; */
}

table.datatable thead th.no-sort {
    pointer-events: none;
        background: none; 
}

.datatable > thead > tr > th[class*="no-sort"]:after{
    content: "" !important;
}

.dl-horizontal {
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: lightskyblue; */
}

.dl-horizontal dt {
    /* background-color: lightblue; */
    line-break: normal !important;
    white-space: normal !important;
}

.monospace-textarea {
    font-family: monospace,monospace;
    font-size: 16px;
    overflow-x: scroll;
}

.documentation-div {

}
/* see: https://www.w3schools.com/cssref/css_default_values.asp */


.documentation-div code {
    font-family: monospace,monospace;
    /* font-size: 16px; */
    /* color: deeppink; */
    color: black;
    background-color: inherit;
}

.documentation-div h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.documentation-div h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.documentation-div li {
    display: list-item;
}

.documentation-div p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.documentation-div pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.documentation-div table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

.documentation-div tbody {
    display: table-row-group;
    vertical-align: top;
    border-color: inherit;
}

.documentation-div td {
    display: table-cell;
    vertical-align: top;
}

.documentation-div th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

.documentation-div thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.documentation-div tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.documentation-div ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.documentation-div var {
    font-style: italic;
}

.dropdown-menu-indent {
    padding-left: 2em;
}

.read-me-container {
    /* font-size: 0.9rem; */
    padding: 0.9em;
}


/* to overwrite the setting in hyrax .. _usage-stats.scss */
.stats-container-custom {
  box-sizing: border-box;
  max-width: 850px;
  height: 450px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.info-div table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

.info-div tbody {
    display: table-row-group;
    vertical-align: top;
    border-color: inherit;
}

.info-div td {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

.info-div th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

.info-div thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.info-div tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.file-contents-container {
    min-height: 80px;
}

.provenance-log-container {
    min-height: 60px;
}

.graph-container {
    width: 100%;
    /* max-width: 850px; */
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
}

.graph-container-narrow {
    width: 75%;
    float: right;
}

.submit-button-list li {
    padding: 2px
}

.citation-author {
}

.citation-title {
    font-style: italic;
}

.update-alert--warning {
  background-color : rgb(255, 138, 88);
  border-bottom: 0px;
  color: black;
  text-align: center;
}

.banner-content {
  background-color: rgb(255, 138, 88);
  border-bottom: 2px solid rgb(231, 117, 4);
}




