<footer class="footer footer--dark ">
  <div class="footer-container container footer-text--light">
    <div class="col-xs-12">
        <ul class="col-sm-4">
        <li><a href="<%= hyrax.help_path('help') %>">Help</a></li>
          <li><a href="<%= hyrax.root_path %>" class="footer-link">Home</a></li>
          <li><a href="<%= hyrax.agreement_path('agreement')  %> " class="footer-link">Policy &amp; Terms of Use</a></li>
        </ul>
        <ul class="col-sm-8 text-right">
         <li>Questions? Contact us <a href="mailto:deepblue@umich.edu">by email</a> or use the Deep Blue <a href="#">Contact</a> page</li>
        </ul>
      </div>
  </div>
</footer>

<div class="footer-subfooter footer--light">
   <div class="footer-container container">
      <div class="col-xs-12">
      <p class="col-sm-6">© 2018 Regents of the University of Michigan</p>
      <p class="col-sm-6 col-md-6 align-right">Powered by Samvera</p>
    </div>
   </div>
</div>
