<%# Reviewed: heliotrope %>
<%# if @presenter&.respond_to? :download_path_link %>
  <%# download_path_link = @presenter.download_path_link(main_app: main_app, curation_concern: file_set) %>
<%# else %>
  <%# download_path_link = hyrax.download_path(file_set) %>
<%# end %>
<%#
  ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                        ::Deepblue::LoggingHelper.called_from,
                                        "file_set.class.name=#{file_set.class.name}",
                                        "presenter.class.name=#{presenter.class.name}",
                                        #"@presenter.class.name=#{@presenter.class.name}",
                                        #"@presenter&.respond_to? :download_path_link=#{@presenter&.respond_to? :download_path_link}",
                                        #"download_path_link=#{download_path_link}",
                                        ""]
%>
<%# if Hyrax.config.display_media_download_link? && can?(:download, file_set.id) %>
<% if Hyrax.config.display_media_download_link? && presenter.can_download_file? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <% if Rails.configuration.file_set_display_representative_media %>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
      <% end %>
      <%= link_to t('hyrax.file_set.show.downloadable_content.image_link'),
                  presenter.download_path_link(main_app: main_app, curation_concern: file_set),
                  data: { label: file_set.id },
                  target: :_blank,
                  id: "file_download" %>
    </div>
<% else %>
    <div>
      <% if Rails.configuration.file_set_display_representative_media %>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
      <% end %>
    </div>
<% end %>
