development:
  host: 'ez.test.datacite.org'
  port: 443
  shoulder: 'doi:10.5072/'
  use_ssl: true
  user: "eziduser"
  password: "ezidpass"
test:
  host: 'ez.test.datacite.org'
  port: 443
  shoulder: 'doi:10.5072/'
  use_ssl: true
  user: "eziduser"
  password: "ezidpass"
