<section class="panel need-help">
  <p class="bold">Have Questions? Need Help?</p>
  <p>Please contact Research Data Services -
    <a href="mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
  </p>
</section>