<section class="panel need-help">
  <p class="bold">Have Questions? Need Help?</p>
  <p>Please contact Research Data Services -
    <%= raw ::Deepblue::EmailHelper.mailto_workflow_html %>
  </p>
</section>