<!-- This is used by both the About sidebar and the Help sidebar. -->
    <li class="<%= action_name == path ? 'current' : '' %>">
        <%= link_to label, path %>
        <% if action_name == path and content_for?(:page_navigation) %><%= yield :page_navigation %><% end %>
    </li>
