<% content_for :page_navigation do %>
<ul>
  <li><a href="#why-deposit-in-deep-blue-data">Why deposit in Deep Blue Data?</a></li>
  <li><a href="#who-can-deposit">Who can deposit?</a></li>
  <li><a href="#what-kinds-of-data-are-accepted">What kinds of data are accepted?</a></li>
  <li><a href="#what-are-the-other-requirements">What are the other requirements for depositing data?</a></li>
  <li><a href="#ready-to-get-started">Ready to get started?</a></li>
</ul>
<% end %>
<%= render partial: 'about_sidebar' %>

<h2>About Deep Blue Data</h2>

<p>The datasets that underlie research findings are increasingly in demand. Funding agencies require that research data be discoverable, accessible and preserved for future use. Publishers ask for data sets to be included alongside of publications as supplemental files to support research findings. Researchers seek out existing data sets to test out new theories or generate new discoveries.</p>

<p>In response, The University of Michigan Library has developed Deep Blue Data, a repository for sharing and archiving research data that were developed at the University of Michigan. Deep Blue Data is a component of a suite of services provided by the U-M Library designed to broadly disseminate the intellectual contributions in research, teaching and creativity made by the University of Michigan community and to ensure its longevity.</p>

<h3 id="why-deposit-in-deep-blue-data">Why deposit in Deep Blue Data?</h3>

<p><strong>Share your data</strong> &mdash; Deep Blue Data provides a means for you to publish your data through a protected and secure repository, making your research more visible to the world.</p>

<p><strong>Compliance with grant requirements</strong> &mdash; Depositing your data into Deep Blue Data enables you to demonstrate compliance with funding agency requirements to share and archive your data sets.</p>

<p><strong>Get credit for your work</strong> &mdash; You can assign a Digital Object Identifier to your work upon deposit making it easier for people to cite your data set and provide proper attribution.</p>

<p><strong>Preserve your data</strong> &mdash; The University of Michigan Library is committed to preserving the data sets deposited into Deep Blue Data. See <a href="file-format-preservation">File formats and Preservation</a> for details.</p>

<p><strong>It&apos;s Free</strong> &mdash; There is no charge to deposit data into the Deep Blue Data repository in most cases.</p>

<p><strong>Local Assistance</strong> &mdash; Librarians can meet with you to help guide you in preparing your data set for deposit  into Deep Blue Data. <a href="<%= hyrax.contact_path %>">Contact Us</a> to set up a consultation.</p>

<h3 id="who-can-deposit">Who can deposit?</h3>
<p><strong>We welcome deposits from:</strong></p>
<ul>
  <li>Current U-M faculty and research staff.</li>
  <li>Multi-institutional collaborations including at least one participant actively employed by U-M.</li>
  <li>Proxies designated by U-M faculty and research staff.</li>
  <li>Sponsored depositors.</li>
</ul>

<h3 id="what-kinds-of-data-are-accepted">What kinds of data are accepted?</h3>
<p><strong>We accept:</strong></p>
<ul>
  <li>Research data from all disciplines.</li>
  <li>Data in formats that are open and nonproprietary.</li>
  <li>Data in proprietary formats that are widely used and appropriate for the research communities likely to have interest in the data.</li>
</ul>

<p><a href="file-format-preservation">Learn more about supported file formats and levels of preservation</a></p>

<p><strong>We cannot accept:</strong></p>
<ul>
  <li>Data on human subjects or sensitive data under the purview of <a href="http://research-compliance.umich.edu/">U-M Research Compliance Programs</a>. This includes data that are subject to export controls, present a conflict of interest for the University or the Researcher(s), or whose distribution would otherwise constitute a violation of research ethics or compliance.</li>
  <li>Data containing personally identifiable information that would prohibit public access.</li>
  <li>Administrative data, unless being used for research purposes and with the prior consent and agreement of the U-M Library.</li>
  <li>Data that is encrypted.</li>
</ul>

<p><a href="agreement">Review our policy and terms of use for more details</a></p>

<h3 id="what-are-the-other-requirements">What are the other requirements for depositing data?</h3>
<ul>
  <li>Data in Deep Blue Data are openly available to anyone. Therefore, submitted data must be ready for distribution and reuse by others.</li>
  <li>Data submitted should be complete.</li>
  <li>Deposit must include appropriate documentation and descriptive metadata.</li>
  <li>The depositor must agree to the <a href="agreement">Deep Blue Data terms of use</a>, which affirms the deposit is original work and does not infringe on the rights of others.</li>
</ul>

<h3 id="ready-to-get-started">Ready to get started?</h3>

<p><a href="prepare-your-data">How to prepare your data</a></p>
