<% content_for :page_navigation do %>
<ul>
  <li><a href="#why-documentation-is-important">Why documentation is important</a></li>
  <li><a href="#what-we-mean">What we mean by documentation and metadata</a></li>
  <li><a href="#what-we-recommend">What we recommend including in documentation</a></li>
</ul>
<% end %>
<%= render partial: 'help_sidebar' %>

<h2>Guide to Creating Documentation for Your Dataset in Deep Blue Data</h2>

<p class="c13">Research Data Services –
  <span class="c6 c11"><a href=
      "mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a></span>
</p>

<h3 id="why-documentation-is-important">Why documentation is important</h3>

<p class="c2">To fully understand, trust, and make use of
a dataset created by someone else, researchers often need more
than the data files: they need a detailed understanding of the
context in which the dataset was created; the methods used to
collect, process, and analyze the data; and what the values and
terms in the data signify. Best practices in
research data curation point to including documentation within
a dataset itself as a dependable way to convey comprehensive
information about the data, and the research that produced it,
to interested members of academic communities and the general
public.</p>

<p class="c2">Some of this information
may be provided in journal articles, monographs, or other texts
reporting research findings. However, because they are
typically written to describe the methods and results, research
publications often leave out key details about the data itself,
including how data files are structured; definitions of
headings, variables, and other terms used in the data; and how
the individual components of the dataset fit together. Even
when this information is provided in a research publication,
the text may not be easily accessible to those seeking to
understand and make use of the data.
</p>

<h3 id="what-we-mean">What we mean by documentation and metadata</h3>

<p class="c2">Some data curation experts and
practitioners employ the terms documentation and metadata
interchangeably. Deep Blue Data chooses to differentiate
between the two as, in the context of the repository, they
serve different purposes.
</p>

<p class="c2"><a href="metadata-guidance">Metadata</a> here refer to the
high-level information that researchers provide when depositing
data in Deep Blue Data and include the Title, Creator,
Description, Methods, Keywords, and other
descriptive information. Metadata help
people who may be interested in a dataset to find it and
understand it well enough to decide whether or not they would
like to download it from Deep Blue Data.</p>

<p class="c2"><span class="c0">The information included in
documentation is more expansive than what is provided in the
metadata. While metadata helps users to discover and identify
datasets of interest, documentation provides a richer
understanding and establishes trust in the data. Ideally, the
documentation would be comprehensive enough to enable others to
reuse the data for new projects or to reproduce the research to
verify its findings. Documentation can come in many forms
depending on the nature of the data and the research; examples
include a codebook, a field notebook, or a README file.</span>
</p>

<h3 id="what-we-recommend">What we recommend including in documentation</h3>

<p class="c2"><span class="c0">To facilitate usability of the
datasets on Deep Blue Data, Research Data Services requests
that researchers include documentation to accompany the data
either in separate files or embedded within the data files
themselves. Ideally, documentation would be produced throughout
the research process, making it easy to compile and combine
with the data before deposit, but we recognize that this does
not always happen. Research Data Services offers educational
programming and consultation on developing documentation to
accompany a dataset deposited into Deep Blue Data or elsewhere.
Please contact us if you would like to take advantage of our
services.</span>
</p>

<p class="c2"><span class="c0">While the practice of creating
documentation for data is broadly supported (see bibliography
below), the recommended format and content varies between
fields, datasets, and repositories. We would be happy to work
with you to identify best practices for documenting data in
your field of study and to consider how these practices might
be applied to your dataset.</span>
</p>

<p class="c2"><span class="c0">Though we acknowledge practices
and needs for describing research data will be determined case
by case, the Research Data Services team feels that the
following areas should be covered at minimum in
documentation:</span>
</p>

<ul class="c18 lst-kix_list_2-0 start">
  <li class="c2 c4"><span class="bold">Research
Overview</span><span class="c0">: A summary of the subject
and purpose of the research, as well as who conducted the
research, where and when it took place, and the research
funding sources.</span>
  </li>

  <li class="c2 c4"><span class="bold">Methods</span>: An
account of how the research was
conducted, with a focus on how data were collected, processed, and analyzed.
Sampling procedures, instruments, and software used should be described
to convey how data were produced and transformed.</li>

  <li class="c2 c4"><span class="bold">File
Inventory</span><span class="c0">: A list of each of the
files included in the dataset, including a brief
statement of what each file
contains and its
purpose. An explanation of the organization of
the files, including relationships between files, should be
considered as well.</span></li>

  <li class="c2 c4"><span class="bold">Definition of Terms and Variables</span>:
    A glossary that specifies clearly and without jargon the meaning of ambiguous
terms, obscure procedures, variables, and/or units that
appear throughout the dataset. This may take the form
of a list of definitions, a data dictionary in a
spreadsheet, or comment lines distributed through a program.</li>

  <li class="c2 c4"><span class="bold">Use and
Access</span><span class="c0">: (if needed) Instructions on
how to open, run or make
use of the data files.</span></li>

  <li class="c2 c4"><span class="bold">Suggest a Citation for the
Data Set</span><span class="c0">: (if needed) Adding a
suggested citation for the data set will encourage people to
give you attribution for your work.</span>
  </li>
</ul>

<br/><br/><br/>

<p>Have Questions? Need Help?</p>

<p>Please contact Research Data Services -
  <a href="mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
</p>

<p>This document was last updated on May 15, 2018</p>
