<% content_for :page_navigation do %>
<ul>
    <li><a href="#collection">Collection</a></li>
    <li><a href="#dataset">Dataset</a></li>
    <li><a href="#documentation">Documentation</a></li>
    <li><a href="#doi">DOI</a></li>
    <li><a href="#metadata">Metadata</a></li>
    <li><a href="#open_access">Open access</a></li>
    <li><a href="#open_format">Open format</a></li>
    <li><a href="#proprietary_format">Proprietary format</a></li>
    <li><a href="#research_data">Research data</a></li>
    <li><a href="#sensitive_data">Sensitive data</a></li>
    <li><a href="#work">Work</a></li>
</ul>
<% end %>
<%= render partial: 'help_sidebar' %>

  <h2>Deep Blue Data - Glossary of Terms</h2>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1">This page provides explanatory
  definitions of terms that are commonly used on Deep Blue Data.
  Rather than capturing an objective understanding of the terms,
  these definitions specify how the terms are used in the context
  of Deep Blue Data and its services.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1">If you come across an unfamiliar term while
  working with Deep Blue Data, please email us at
  <a href="mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
  and we will consider adding it to the glossary.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="collection">Collection:</span>
  <span class="c1">A grouping of Works in the Deep Blue Data repository. These
  groupings can be used by researchers or Research Data Services
  staff to bring together related Works on a single page. For
  example, a researcher who has deposited multiple datasets in
  Deep Blue Data on a similar topic or area may want to add the
  Works containing those datasets to a Collection, so that she or
  he can more conveniently locate and share those datasets with
  others. If you are interested in creating a
  Collection, please contact Research Data Services by emailing
  researchdataservices@umich.edu.</span></p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="dataset">Dataset:</span>
  <span class="c1">The complete unit of work consisting of research data that a
  researcher deposits into Deep Blue Data. A dataset includes all
  files or documents that contain research data, as well as any
  additional components providing information on how to access or
  understand those files’ contents, such as metadata and
  documentation.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class=
  "bold" id="documentation">Documentation:</span>
  <span class="c1">The information needed
  for people to understand, trust, and use a
  dataset. Documentation expands upon the information provided
  in a dataset’s metadata, providing further details about how
  the data were collected, processed, and analyzed.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1">Documentation can come in many forms. Some
  researchers create README documents (often a plain text file or
  PDF) or codebooks as separate files, which then become a part
  of the dataset. In other cases, documentation may be embedded
  within data files themselves; examples include a separate sheet
  in a Microsoft Excel file defining unfamiliar terms and
  variables or commented lines in a code file that explain
  decision points or algorithms. Every dataset can benefit from
  some form of documentation. For further explanation,
  recommendations, and resources, read the
  <a href="dbd-documentation-guide">Documentation Guidelines</a>
  provided in Deep Blue Data’s Help pages.</span></p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="doi">DOI:</span>
  <span class="c1"> A unique,
  permanent digital code assigned to an object. DOI stands for
  Digital Object Identifier. DOIs are commonly used in academia
  to identify scholarly works and can be connected to metadata
  and URLs that point to an object’s online location or
  representation. As part of its mission to encourage data
  sharing and elevate research data as valuable scholarly output,
  Deep Blue Data works with DataCite, a DOI Registration Agency,
  to mint DOIs for datasets deposited to Deep Blue Data. For a
  more detailed discussion of DOIs for datasets, visit</span>
  <span class="c2"><a class="c4" href=
  "https://www.datacite.org/dois.html&amp;sa=D&amp;ust=1526308489669000">
  DataCite’s website</a></span><span class="c1">.</span></p>

  <p class="c0"><span class="c1 bold" id="metadata">Metadata:</span>
  <span class="c1">Descriptive information that defines key attributes
  about a dataset. When researchers create metadata for their
  datasets, others in their community of practice can more easily
  discover the data and assess its relevance to their work. As
  metadata are designed to be discoverable through online search
  engines, researchers preparing metadata should consider what
  details others will need to find and connect with the
  dataset.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1">When depositing to Deep Blue Data,
  researchers will first encounter metadata in the submission
  form, where they will be asked to enter information in fields
  such as Creator, Title, Description, Methods, and Date
  Coverage. The metadata elements used for the repository are
  based on the <a class="c4" href=
  "http://dublincore.org/documents/dces/&amp;sa=D&amp;ust=1526308489670000">
  Dublin Core</a> metadata standard. For
  detailed instructions on completing the submission form (and
  creating metadata for your dataset), read the
  <a href="metadata-guidance">Metadata Guidelines</a> provided
  in Deep Blue Data’s Help pages.</span></p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="open_access">Open access:</span>
  <span class="c1">A publishing model that seeks to make scholarly output, which is often
  indirectly paid for by tax dollars, freely and readily
  available to the public. As an Open Access repository, Deep
  Blue Data allows anyone with access to the Internet to view
  Works online and download files. Allowed uses of those files
  are specified by a Creative Commons license selected by the
  depositor.</span></p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="open_format">Open format:</span>
  <span class="c1"> A file format with publicly available documentation or specifications.
  These formats can be opened with a variety of software and
  hardware systems and are often associated with widely accepted
  professional standards. Quintessential examples are Plain Text
  (.txt) and Comma Separated Values (.csv) files. Deep Blue Data
  can provide superior preservation services for open formats as
  compared with proprietary formats.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="proprietary_format">Proprietary format:</span>
  <span class="c1">A file format that is commercially developed, which often means
  that its specifications are not publicly available and/or files
  in that format can only be used with specialized software or
  hardware. Though Deep Blue Data accepts files in all formats,
  the repository’s ability to preserve proprietary formats is
  limited; therefore, files in open formats are preferred. For
  more details about Deep Blue Data’s Preservation Policy, visit
  the “</span><span class="c2"><a class="c4" href=
  "https://deepblue.lib.umich.edu/data/agreement.agreement?locale%3Den&amp;sa=D&amp;ust=1526308489671000">Policy
  and Terms of Use</a></span><span class="c1">”</span><span class=
  "c1">&nbsp;page.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="research_data">Research data:</span>
  <span class="c1">Representations of observations, objects, or other
  entities used as evidence of phenomena for the purposes of
  research or scholarship. Functionally, this means any data
  produced during the process of research in any
  discipline.</span>
  </p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1">While operating under a broad definition of
  the term, Deep Blue Data only accepts research data when
  certain conditions related to the depositor’s university
  affiliation and the contents of the deposit are met. For
  more details about these conditions, visit Deep Blue
  Data’s “</span><span class="c2"><a class="c4" href=
  "https://deepblue.lib.umich.edu/data/about?locale%3Den%23what-kinds-of-data-are-accepted&amp;sa=D&amp;ust=1526308489672000">About</a></span><span>”
  page or the “</span><span class="c2"><a class="c4" href=
  "https://deepblue.lib.umich.edu/data/agreement.agreement?locale%3Den&amp;sa=D&amp;ust=1526308489672000">Policy
  and Terms of Use</a></span><span class="c1">" page.</span></p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="sensitive_data">Sensitive data:</span>
  <span class="c1">Data that if published could result in harm to research
  subjects through the disclosure of information that is
  considered confidential or private. Deep Blue Data does not
  accept sensitive data. However, in some cases, data can be
  de-identified or otherwise modified to allow for their
  publication. Researchers with questions or concerns about the
  sensitivity of their data should reach out to</span>
  <span class="c2"><a class="c4" href=
  "http://research-compliance.umich.edu/&amp;sa=D&amp;ust=1526308489672000">
  Research Ethics & Compliance</a></span><span class="c1">, a
  unit of the University of Michigan’s Office of
  Research.</span></p>

  <p class="c0 c5">
  </p>

  <p class="c0"><span class="c1 bold" id="work">Work</span><span class="c1">:
  The main organizational unit in the Deep Blue Data repository.
  When you deposit a dataset, you are creating a Work, which will
  contain all of the data and documentation files in your dataset
  and display the metadata you provided in the submission
  form.</span>
  </p>

<br/><br/><br/>

<p>Have Questions? Need Help?</p>

<p>Please contact Research Data Services -
  <a href="mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
</p>

<p>This document was last updated on May 15, 2018</p>