<%= render partial: 'about_sidebar' %>
<h2>File Formats &amp; Preservation</h2>

<p>Deep Blue Data will accept any file format. All content will be stored on an enterprise-grade infrastructure with appropriate disaster recovery capabilities, security, and media replacement schedules.</p>

<p>All content will receive "bit-level" preservation in order to protect content from threats such as bit-rot and unintended changes/deletions. This includes quality control measures such as checksum creation and fixity checks, the creation of archival backups, and file format characterization.</p>

<p>The application of certain preservation actions are dependent on the formats as deposited into the repository. Due to the volume and diversity of content, we will not perform automatic normalizations or other format transformations upon deposit. The level of preservation provided is dependent on the file formats as deposited.</p>

<table class="table">
  <tr>
    <th>Level</th>
    <th>What is provided</th>
    <th>What we do</th>
  </tr>
  <tr>
    <td>Highest</td>
    <td>
      <p>Currently provided only for formats that are both publicly documented and widely used (example: .CSV).</p>
    </td>
    <td>
      <p>We will make our best effort to maintain the content, structure and functionality in the future.</p>

      <p>The content may also be migrated (transformed to another stable format) to provide additional assurance that the information content is preserved.</p>

      <p>The content will be preserved as originally deposited to ensure the original bitstream is always available.</p>
    </td>
  </tr>
  <tr>
    <td>Limited</td>
    <td>
      <p>Generally applied to proprietary formats that are widely used and where there is substantial commercial interest in maintaining access to the format (example: Microsoft Excel).</p>
    </td>
    <td>
      <p>We will make limited efforts to maintain the usability of the file as well as preserving it as submitted (bit-level preservation).</p>

      <p>We can only guarantee bit-level services and ongoing monitoring at this time.</p>
    </td>
  </tr>
  <tr>
    <td>Basic Preservation</td>
    <td>
      <p>Usually applies to files written in highly specialized, proprietary formats, often usable only in a single software environment, formats no longer widely utilized, and/or formats about which little information is publicly available (example: Shapefile (.shp))</p>
    </td>
    <td>
      <p>We provide basic preservation of the file (bitstream) and associated metadata as-is with no active effort made to monitor the format and associated risks or to normalize, transform or migrate the file to another format.</p>

      <p>Files may be openable and/or readable by future applications, but there is no guarantee that the content, structure, or functionality will be preserved.</p>
    </td>
  </tr>
</table>

<p><a href="agreement#preservation_policy">Review our Preservation Policy for additional details</a></p>

<p>See the complete list of the Library&apos;s <a href="http://deepblue.lib.umich.edu/static/about/deepbluepreservation.html">Registered Formats and Support Levels.</a></p>
