<%= render partial: 'help_sidebar' %>

<div class="<%= main_content_classes %> static-page-main">
<h2>Help</h2>

<p>Deep Blue Data is a component of a suite of services provided by the U-M Library designed to broadly disseminate the
  intellectual contributions in research, teaching and creativity made by the University of Michigan community and to
  ensure its longevity. We&apos;ll walk you through the simple steps of preparing, uploading and depositing your data.</p>
</div>