<h2>Help</h2>

<p>Deep Blue Data is a component of a suite of services provided by the U-M Library designed to broadly disseminate the
  intellectual contributions in research, teaching and creativity made by the University of Michigan community and to
  ensure its longevity. We&apos;ll walk you through the simple steps of preparing, uploading and depositing your data.</p>

<ul class="help-directory">
  <li><a href="prepare-your-data">Prepare Your Data</a></li>
  <li><a href="dbd-documentation-guide">Documentation Guidance</a></li>
  <li><a href="dbd-glossary">Deep Blue Data Glossary</a></li>
  <li><a href="metadata-guidance">Metadata Guidance</a></li>
  <li><a href="how-to-upload">How to Upload</a></li>
  <li><a href="use-downloaded-data">Use Downloaded Data</a></li>
  <li><a href="globus-help">Using Globus</a></li>
  <li><a href="<%= hyrax.contact_path %>">Contact Us</a></li>
</ul>
