<% content_for :page_navigation do %>
<ul>
    <li><a href="#How_to_Upload">How to Upload</a></li>
    <li><a href="#Log_in">Log in</a></li>
    <li><a href="#Describe_Your_Work">Describe Your Work</a></li>
    <li><a href="#Upload_Files">Upload Files</a></li>
    <li><a href="#Mint_a_DOI">Mint a DOI</a></li>
</ul>
<% end %>
<%= render partial: 'help_sidebar' %>
<h2 id="How_to_Upload">How to Upload</h2>

<p>Uploading your data to Deep Blue Data is a straight-forward process, but you will need to take some time to prepare
  your data.</p>

<p>Before starting an upload, review the <a href="prepare-your-data">Prepare Your Data</a>
page to be sure you:</p>

<ul>
  <li>Gather all the information you will need for depositing your data</li>
  <li>Meet the conditions for deposit</li>
  <li>Review the <a href="agreement">terms of use of Deep Blue Data</a> so that you fully understand your
    responsibilities in using this service</li>
</ul>

<h3 id="Log_in">Log in</h3>

<p>Log in to Deep Blue Data to get started! If this is your first deposit, you will need to create an account with
  us.</p>

<p>Once logged in, you will be taken to the dashboard page. In addition to depositing data, the dashboard provides you
  with information about your deposits and account settings.</p>

<h3 id="Describe_Your_Work">Describe Your Work</h3>

<ol>
  <li>From the user dashboard, select <strong>Deposit Work</strong></li>
  <li>Enter Metadata for the data set. The minimum required information for your work includes:</li>
  <ol>
    <li><strong>Title</strong> (Provide a descriptive name of the work. What is it formally known as?)</li>
    <li><strong>Creator</strong> (The person, organization or service primarily responsible for making the work.)</li>
    <li><strong>Method</strong> (The way the dataset was collected: equipment used for sensing, survey methodology,
      etc.)</li>
    <li><strong>Description</strong> (May include, but is not limited to: an abstract, codebooks, a free-text account of
      the work, etc.)</li>
    <li><strong>Date Created</strong> (The date the work’s data were created, as determined by the creator.)</li>
    <li><strong>Creative Commons License</strong> (Depositors must choose to apply one of several
      <a href="https://creativecommons.org/licenses/">Creative Commons Licenses</a> to the data.)</li>
  </ol>
  <li>Select the <strong>Save</strong> button at the bottom of the page.</li>
</ol>

<h3 id="Upload_Files">Upload Files</h3>

<ol>
  <li>In the Attach Files section at the bottom of the page, check the box indicating that you have read and agree to
    the <a href="agreement">Deep Blue Data Deposit Agreement</a>.</li>
  <li><strong>Select All</strong> of the files that comprise your data set (including the documentation of read files
    that you have created to provide context for your data). If your files are contained in a folder you can
    <strong>Select folder</strong> to upload them all.</li>
  <li>Repeat steps 1-2 to add more files to your work.</li>
  <li>Once all files have been selected, click on the <strong>Start Upload</strong> button.</li>
</ol>

<h3 id="Mint_a_DOI">Mint a DOI</h3>

<ol>
  <li>Review the information entered and selections made. Look everything over carefully and make changes if needed.
    <strong>Once submitted this information in the minted DOI cannot be changed.</strong></li>
  <li>Once you have described your work and attached your desired files to it, select the <strong>Mint DOI</strong>
    button under the Attributes Heading in the Work Detail page to request a DOI for your work and to make your data
    accessible to the public.</li>
  <li>You have 24 hours after the DOI is requested to make changes to the work. After 24 hours, the work description
    and files associated with the work will be permanent and unalterable. If you need to make changes after the initial
    24 hour period you will have to mint a new DOI for the work.</li>
</ol>

<p><strong>Congratulation, you have deposited your data!</strong></p>

<br/><br/><br/>

<p>Have Questions? Need Help?</p>

<p>Please contact Research Data Services -
  <a href="mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
</p>

<p>This document was last updated on May 15, 2018</p>