<% content_for :page_navigation do %>
<ul>
  <li><a href="#what-is-medatada">What is Metadata and why is it important?</a></li>
  <li><a href="#what-is-asked">What Metadata is asked for by Deep Blue Data?</a></li>
  <ul>
    <li><a href="#title">Title</a></li>
    <li><a href="#creator">Creator</a></li>
    <li><a href="#contact_information">Contact Information</a></li>
    <li><a href="#method">Method</a></li>
    <li><a href="#description">Description</a></li>
    <li><a href="#date_coverage">Date Coverage</a></li>
    <li><a href="#license">Creative Commons License</a></li>
    <li><a href="#discipline">Discipline</a></li>
    <li><a href="#funding_agency">Funding Agency</a></li>
    <li><a href="#grant_number">ORSP Grant Number</a></li>
    <li><a href="#keyword">Keyword</a></li>
    <li><a href="#language">Language</a></li>
    <li><a href="#citation">Citation to Related Material</a></li>
    <li><a href="#note_on_multiple">Note on multiple entries</a></li>
  </ul>
</ul>
<% end %>
<%= render partial: 'help_sidebar' %>

<div class="<%= main_content_classes %> static-page-main">
<h2>Guide to Creating Metadata for Your Dataset in Deep Blue Data</h2>

<p class="c14" id="h.7lf6ehxv2wno"><span class="c10">Research
Data Services -</span> <span class="c8"><a class="c3" href=
    "mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
</span></p>

<p class="c0 c1" id="h.hca7un62zhp">
</p>

<h3 id="what-is-medatada">What is Metadata and why is it important?</h3>

<p class="c0"><span class="c2">Metadata refers to the
high-level information that researchers provide when depositing
data in Deep Blue Data. This information includes the Title,
Creator, Description, Methods, Keywords, and other descriptive
information. Metadata help people who may be interested in a
dataset to find it and understand it well enough to decide
whether or not they would like to download it from Deep Blue
Data.</span>
</p>

<p class="c0"><span class="c2">Metadata is different from
  <a href="dbd-documentation-guide">documentation</a>, such
  as readme files, field notes or codebooks.
Although they serve similar functions of providing important
information about a dataset, metadata is generally more brief
and succinct than documentation. Documentation on the other
hand should provide more comprehensive information about the
data, enough to enable others to reuse it for new projects or
to reproduce the research to verify its findings.</span>
</p>

<h3 id="what-is-asked">What Metadata is asked for by Deep Blue Data?</h3>

<p class="c0"><span class="c2">The following information
provides more detailed instructions on completing the metadata
fields in the “Deposit Your Work” form on Deep Blue
Data.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c10">The term “Work”
  <a href="dbd-glossary#work">(see glossary)</a>
  refers the main organizational unit on Deep Blue
  Data; each dataset and its accompanying metadata are considered
  part of a Work.</span></p>

<p class="c0 c1">
</p>

<h4 class="bold" id="title">Title</h4>

<p class="c0"><span class="c2">Provide a descriptive name for
the Work. Knowing that the Title will be discoverable on Deep
Blue Data and through other search engines, answer the
question, “What would you like this dataset to be known as?”
Think of the dataset as a discrete research product that has
value in and of itself. An entry in this metadata field is
required.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Consider the following
guidelines:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_wgb3o6s0ywoe-0 start">
  <li class="c0 c4"><span class="c2">Mention the general area
of research and/or the specific topic in the title (including
the name of the research group or project, if the name is
descriptive of the research).</span>
  </li>

  <li class="c0 c4"><span class="c2">Consider using the terms
“data” or “dataset” or referencing specific methods to help
distinguish the data from other research products, like
publications.</span>
  </li>

  <li class="c0 c4"><span class="c2">Avoid the use of acronyms
and jargon that will not be immediately recognizable to those
within your field.</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Creating a Title that
incorporates important aspects of the research in accessible
language is key to helping others discover the data. Multiple
entries are possible for this field. See the note about
multiple entries later in this guide.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Examples:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_mzoh7jd24ig0-0 start">
  <li class="c0 c4"><span class="c2">Big Ship Data: Pre- and
Post-Processed Spatiotemporal Data for 2006-2014 for Great
Lakes Air Temperature, Dew Point, Surface Water Temperature,
and Wind Speed</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_eucqirkgxlx8-0 start">
  <li class="c0 c4"><span class="c2">Literature search
strategies for "Substance Use Education in Schools of
Nursing: A Systematic Review of the Literature"</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_i8arnle4asm7-0 start">
  <li class="c0 c4"><span class="c2">S'Urachi Site-Based
Archaeological Survey 2015</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_irnx12kyre66-0 start">
  <li class="c0 c4"><span class="c2">Code and Results for "The
Emergence of Groups and Inequality Through
Co-Adaptation"</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_2fzagev1ztdh-0 start">
  <li class="c0 c4"><span class="c2">The Observation and
Simulation Dataset for The Response of the Coupled
Magnetosphere-Ionosphere System to the 15 August 2015 Solar
Wind Dynamic Pressure Enhancement</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<h4 class="bold" id="creator">Creator</h4>

<p class="c0" id="h.t4y1v6a68k7y"><span class="c2">List the
name(s) of the person(s) and/or organization(s) responsible for
creating the Work. For names, please use the following format:
Last name, First name MI. Providing a full list of those
responsible for the dataset ensures that all parties receive
proper credit for their work. Multiple entries are possible for
this field. See the note about multiple entries later in this
guide. An entry in this metadata field is required.</span>
</p>

<p class="c0 c1">
</p>

<h4 class="bold" id="contact_information">Contact Information</h4>

<p class="c0"><span class="c2">Enter the contact information
(email address) for the individual who can best respond to
questions about the Work. Contact information will be
invaluable to other researchers if they need additional
information or guidance when re-using the data or reproducing
the research. Providing the information may also lead to
opportunities for collaboration. An entry in this metadata
field is required.</span>
</p>

<p class="c0 c1">
</p>

<h4 class="bold" id="method">Method</h4>

<p class="c0"><span class="c2">Explain the methods that were
used to collect and process the data included in this Work.
This could include:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_gd7ze9f0xki-0 start">
  <li class="c0 c4"><span class="c2">specific data-collection
methods (e.g. content analysis, experiment, observation,
simulation, survey, etc.) and details on how they were
employed.</span>
  </li>

  <li class="c0 c4"><span class="c2">tools used to collect,
process, and/or analyze the data (i.e. names and versions of
software, instruments, statistical tests, etc.)</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Detailed information on methods
will help users understand how the data relates to their own
research and to trust their quality. This information may take
a few sentences or a paragraph to explain adequately. Anything
more than a paragraph is probably too long for the metadata
however, and a full accounting of the methods used to collect,
process and analyze the data can be saved for the
documentation. An entry in this metadata field is
required.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Examples of good entries in the
“Methodology” field can be found in the following
datasets:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_f2stncnphp3j-0 start">
  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/data/concern/generic_works/p8418n224">
The ethical and professional use of social media in surgery -
A review of the literature</a></span>
  </li>
</ul>

<ul class="c7 lst-kix_71oujw1xxwic-0 start">
  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/data/concern/generic_works/8p58pc92q">
Data from: Functional traits in cover crop mixtures:
biological nitrogen fixation and
multifunctionality</a></span>
  </li>
</ul>

<ul class="c7 lst-kix_1tqte3nrho9k-0 start">
  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/data/concern/generic_works/gt54kn002">
JGR-Space-2012-Data</a></span>
  </li>
</ul>

<p class="c0 c1">
</p>

<h4 class="bold" id="description">Description</h4>

<p class="c0"><span class="c2">Though related to the “Methods”
field, the information in the “Description” field should focus
on what the data are, rather than how the data came to
be.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">In filling out the Description
field, provide a general and brief description of the research
that produced this data, including the researchers’ purpose or
questions they wanted to answer. In addition, give an account
of the files included in the Work, discussing their contents
and the relationships between them. If specific software or 
scripts are required to access your data, this is a good place 
to document that as well. This may take a few
sentences to explain fully. Information provided for this
element will help users understand the contribution of this
data to the discipline, as well as how the data files within
the Work fit together to form a cohesive dataset. An entry in
this metadata field is required.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">If you would like to split your
entry into multiple paragraphs, you may want to make use of the
“+ Add another Description” option. Multiple entries are
possible for this field. See the note about multiple entries
later in this guide.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Examples of good entries in the
“Description” field can be found in the following
datasets:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_s60z5klogfp2-0 start">
  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/data/concern/generic_works/sj139199t">
Discovering History: An Analysis of Secondary Literature
Cited in the American Historical Review, 2010-2015</a></span>
  </li>

  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/data/concern/generic_works/wd375w30z">
Understanding Ecosystem Services Adoption by Natural Resource
Managers and Research Ecologists: Survey
Data</a></span>
  </li>

  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/data/concern/generic_works/2j62s530s">
Subjective Effect Reports of Food</a></span>
  </li>
</ul>

<p class="c0 c1">
</p>

<h4 class="bold" id="date_coverage">Date Coverage</h4>

<p class="c0"><span class="c2">Select the date or the date
range that correspond to the span of time that the data were
collected and processed. If you want to indicate a date range,
enter the beginning date in the boxes provided and then click
on “+ Add date range” to generate boxes to enter an end date.
Be as specific as you can in defining the beginning and end of
the data production period. An entry in this metadata field is
optional.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Examples</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_uzrz1fo4jcpx-0 start">
  <li class="c0 c4"><span class="c2">2015 - 2017</span>
  </li>

  <li class="c0 c4"><span class="c2">2015/10/31 -
2016/01/01</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<h4 class="bold" id="license">Creative Commons License</h4>

<p class="c0"><span class="c2">Select a licensing and
distribution option that will govern use of the Work. Your
choice will let users know if and under what conditions they
can share and re-use the included data. There are three options
to select from:</span>
</p>

<ul class="c7 lst-kix_tjkjz23i572-0 start">
  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://creativecommons.org/publicdomain/">
CC0</a></span> - This license places
your work in the public domain.</span>
  </li>

  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://creativecommons.org/licenses/by/4.0/">
CC-BY</a></span><span class="c2"> - “This license lets
others distribute, remix, tweak, and build upon your work,
even commercially, as long as they credit you for the
original creation.”</span>
  </li>

  <li class="c0 c4"><span class="c8"><a class="c3" href=
      "https://creativecommons.org/licenses/by-nc/4.0/">
CC-BY-NC</a></span><span class="c10"> - “This license
lets others remix, tweak, and build upon your work
non-commercially, and although their new works must also
acknowledge you and be non-commercial, they don’t have to
license their derivative works on the same terms.”</span>
  </li>
</ul>

<p class="c0"><span class="c10">More information about Creative
Commons licenses can be found on the</span> <span class="c8"><a class="c3" href=
    "https://creativecommons.org/licenses/">
Creative Commons organization’s website</a> and they provide</span>
  <span class="c8"><a class="c3" href="https://creativecommons.org/choose/">
an interactive tool</a></span><span class="c10"> to help
you decide which license may be right for you. An entry in this metadata field is
required.</span></p>

<p class="c0 c1">
</p>

<h4 class="bold" id="discipline">Discipline</h4>

<p class="c0"><span class="c2">Select the disciplines(s)
associated with the research for which the data were collected.
This will aid in the discovery of your Work, as visitors to
Deep Blue Data are able to browse content by discipline.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">To select multiple disciplines,
hold Control on a PC or Command on a Mac and click on each
option you want to select. They will remain highlighted, and
you can proceed to the next element of the submission form. An
entry in this metadata field is required.</span>
</p>

<p class="c0 c1">
</p>

<h4 class="bold" id="funding_agency">Funding Agency</h4>

<p class="c0"><span class="c2">Select the primary funding
agency that supported the research project in which the data
were generated or collected from the drop-down list.
Identifying the funding agency can help demonstrate compliance
with any data sharing requirements made by the agency and
connect your research with a larger body of work. An entry in
this metadata field is optional.</span>
</p>

<p class="c0 c1">
</p>

<h4 class="bold" id="grant_number">ORSP Grant Number</h4>

<p class="c0"><span class="c10">The PAF
number</span><span class="c10"> assigned by the University
of Michigan’s Office of Research and Sponsored Projects (ORSP).
For more information, visit the</span> <span class="c8"><a class="c3" href=
    "http://orsp.umich.edu/">
ORSP webpage</a></span><span class="c10">. An entry in this metadata field is optional.</span></p>

<p class="c0 c1">
</p>

<h4 class="bold" id="keyword">Keyword</h4>

<p class="c0"><span class="c2">Enter any terms or topics that
describe your work or would help people to find it in Deep Blue
Data. Quality keywords may include the following:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_vead6znamqeg-0 start">
  <li class="c0 c4"><span class="c2">Disciplines or
sub-disciplines</span>
  </li>

  <li class="c0 c4"><span class="c2">Research topics or
areas</span>
  </li>

  <li class="c0 c4"><span class="c2">Methods or tools central
to the research</span>
  </li>

  <li class="c0 c4"><span class="c2">Time periods and/or
locations associated with the data</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">In addition to aiding discovery
of the Work, entries for this element will help others identify
the research as part of a specific field and understand the
major themes that guided the activity. Multiple entries are
possible in this field. Multiple entries are possible for this
field. See the note about multiple entries later in this
guide.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Examples</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_vlbhq4dbux8d-0 start">
  <li class="c0 c4"><span class="c2">Bioarchaeology</span>
  </li>

  <li class="c0 c4"><span class="c2">Citation analysis</span>
  </li>

  <li class="c0 c4"><span class="c2">Copper Age</span>
  </li>

  <li class="c0 c4"><span class="c2">Disability</span>
  </li>

  <li class="c0 c4"><span class="c2">Gender and nationality
bias</span>
  </li>

  <li class="c0 c4"><span class="c2">Meta-analysis</span>
  </li>

  <li class="c0 c4"><span class="c2">Organic
semiconductors</span>
  </li>

  <li class="c0 c4"><span class="c2">Spatial measures</span>
  </li>

  <li class="c0 c4"><span class="c2">Substance abuse</span>
  </li>

  <li class="c0 c4"><span class="c2">University
libraries</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<h4 class="bold" id="language">Language</h4>

<p class="c0"><span class="c2">List the language(s) in which
the data and supplementary content are written. These could be
spoken languages (e.g. English, Spanish, Mandarin, Arabic,
etc.) or programming languages (e.g. C++, MATLAB, Python, XML,
etc.). This information will convey to readers what expertise
or technical skills and software they will need to understand
the data. Multiple entries are possible for this field. See the
note about multiple entries later in this guide.</span>
</p>

<p class="c0 c1">
</p>

<h4 class="bold" id="citation">Citation to Related Material</h4>

<p class="c0"><span class="c2">Enter a citation to any
publication(s) that make use of or reference the data in this
Work. Most often these will be articles and books by the
Creator(s) or the research group. If the research or
methodology is strongly connected to previous studies (either
by the same research group or another one), you might also
provide a citation for that material.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Include a full citation where
possible. Otherwise, a URL, DOI, or other unique identifier to
the related item will suffice.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">If the publication has not yet
been released, please make note of that in the field and plan
to update Research Data Services once it has been published.
Multiple entries are possible for this field. See the note
about multiple entries later in this guide.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">Examples:</span>
</p>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_wl7pcx8gtcrw-0 start">
  <li class="c0 c4"><span class="c2">Li, Y., M. C. Barth, G.
Chen, E. G. Patton, S.-W. Kim, A. Wisthaler, T. Mikoviny, A.
Fried, R. Clark, and A. L. Steiner (2016), Large-eddy
simulation of biogenic VOC chemistry during the DISCOVER-AQ
2011 campaign, J. Geophys. Res. Atmos., 121,
doi:10.1002/2016JD024942.</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_wl7pcx8gtcrw-0">
  <li class="c0 c4"><span class="c2">King, A. E. and Blesh, J.
(2018), Crop rotations for increased soil carbon:
perenniality as a guiding principle. Ecol Appl, 28: 249–261.
doi:10.1002/eap.1648</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_wl7pcx8gtcrw-0">
  <li class="c0 c4"><span class="c2">Engel, D.D., Evans, M.A.,
Low, B.S., Schaeffer, J. (2017) “Understanding Ecosystem
Services Adoption by Natural Resource Managers and Research
Ecologists.” Journal of Great Lakes Research, 43(3), 169-179.
DOI:10.1016/j.jglr.2017.01.005</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_wl7pcx8gtcrw-0">
  <li class="c0 c4"><span class="c2">Tawanna R Dillahunt, Xinyi
Wang, Earnest Wheeler, Hao Fei Cheng, Brent Hecht, and Haiyi
Zhu. 2018. The Sharing Economy in Computing: A Systematic
Literature Review. In Proceedings of the 21st ACM conference
on Computer supported cooperative work & social computing.
ACM. to appear.</span>
  </li>
</ul>

<p class="c0 c1">
</p>

<ul class="c7 lst-kix_wl7pcx8gtcrw-0">
  <li class="c0 c4"><span class="c10">Eby, D.W., Molnar, L.J.,
Kostyniuk, L.P., St. Louis, R.M., & Zanier, N. (2011).
Recommendations for Meeting the Needs of Michigan’s Aging
Population. Report No. RC-1562. Lansing, MI: Michigan
Department of Transportation. This report can be found on
Deep Blue:</span> <span class="c8"><a class="c3" href=
      "https://deepblue.lib.umich.edu/handle/2027.42/90961">
https://deepblue.lib.umich.edu/handle/2027.42/90961</a></span></li>
</ul>

<p class="c0 c1">
</p>

<h4 class="bold" id="note_on_multiple">Note on multiple entries</h4>

<p class="c0"><span class="c2">Some of the metadata elements
allow you to create multiple fields to separate terms or
content in submissions. For example, if the dataset has more
than one creator, they should each be listed in separate
Creator fields.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">The elements with this option
  below are <a href="#description">Description</a>,
  <a href="#description">Title</a>,
  <a href="#creator">Creator</a>,
  <a href="#date_coverage">Date Coverage</a>,
  <a href="#keyword">Keyword</a>,
  <a href="#language">Language</a>,
  and <a href="#citation">Citation to Related Material</a>.</span>
</p>

<p class="c0 c1">
</p>

<p class="c0"><span class="c2">To create another entry, type
the first entry in the provided field for that metadata
element, and then click on the link just below that reads “+
Add another [element name],” which will create another field.
Repeat this process as needed.</span>
</p>

<%= render partial: 'get_help' %>

<p class="font-xsmall">This document was last updated on May 15, 2018</p>
</div>