<% content_for :page_navigation do %>
<ul>
    <li><a href="#retention-review">Retention Review</a></li>
    <li><a href="#withdrawals">Withdrawals</a></li>
    <li><a href="#copyright-and-take-down-notifications">Copyright and Take-Down Notifications</a></li>
</ul>
<% end %>
<%= render partial: 'about_sidebar' %>
<h2>Retention</h2>

<h3 id="retention-review">Retention Review</h3>

<p>Data submitted to Deep Blue Data will be reviewed after 10 years to determine if a dataset should be retained and will be subject to further, periodic, reviews thereafter.</p>

<ul>
  <li>The retention review will be conducted by the Data Curation Librarian, appropriate subject librarian(s), and, whenever possible, the depositor.</li>
  <li>The retention decision will be driven by a determination of the ongoing value to the research community.</li>
  <li>Long-term retention will also be determined by file format based preservation levels assigned upon deposit.</li>
</ul>

<p>Review <a href="file-format-preservation">file formats and levels of preservation</a></p>

<h3 id="withdrawals">Withdrawals</h3>

<p>Deposits can only be removed from Deep Blue Data if the depositor and our staff agree the work is inappropriate. If a depositor requests data be withdrawn, we will consider if the data has been shown to contain inaccurate or faulty information and whether there is evidence of the data being used, cited, or downloaded.</p>

<p>We also reserve the right to remove deposits for reasons including:</p>

<ul>
  <li>It was not appropriate for deposit (e.g. it contains sensitive information, viruses or other malware, or if we receive a verified complaint that it contains materials determined to be an infringement of copyright).</li>
  <li>It is no longer of active interest after a retention review.</li>
</ul>

<p>In all cases where data is removed from the repository, we will make our best effort to return data to the data producer or their designee.</p>

<p>A tombstone record containing a sub-set of metadata for all content removed from the repository will always remain for any deposit that is removed. This tombstone will include the date and reason for removal, and be retained indefinitely. The permanent identifier and persistent URL will remain active so people who had previously cited the data can confirm its status. Where possible and applicable, that tombstone record will point to and/or resolve to the new location for the data.</p>

<h3 id="copyright-and-take-down-notifications">Copyright and Take-Down Notifications</h3>

<p>Please refer to the <a href="http://www.lib.umich.edu/library-administration/take-down-policy-addressing-copyright-concerns/">library</a> and <a href="http://safecomputing.umich.edu/copyright/">University policy and procedures on copyright and take-down</a>.</p>
