<% content_for :page_navigation do %>
<ul>
    <li><a href="#the-legal-stuff">The Legal Stuff</a></li>
</ul>
<% end %>
<%= render partial: 'help_sidebar' %>
<h2>Use Downloaded Data</h2>

<p>All data in the Deep Blue Data repository are available to anyone for download without restriction.
  However, use of data downloaded from the Deep Blue Data repository is subject to our terms of use.
  Use of the data is also governed by the Creative Common license attached to it. Be sure that you read
  through the information provided by <a href="http://creativecommons.org/">Creative Commons</a>
  to understand what you may and may not do with the data.</p>

<h3 id="the-legal-stuff">The Legal Stuff</h3>

<p>Content downloaded from Deep Blue Data is provided "as is." Just as with published books or articles
  available through the library, the library only makes the content available — we have not done any editing.
  Although we run a virus check on deposit of the data, no check is 100% accurate or foolproof.
  We therefore cannot guarantee the accuracy, adequacy, quality, or completeness of content from Deep Blue Data,
  or that downloads are free of viruses or other harmful components.</p>

<p>By using content from Deep Blue Data, you agree that we have no liability for resulting damages and recognize
  that the statements and views of authors hosted are theirs alone.</p>

<p>Deep Blue repositories collect usage data. The U-M Library has a
  <a href="http://www.lib.umich.edu/library-administration/user-privacy-policy-university-library">policy on privacy
    and confidentiality</a> on how usage data are collected and used.</p>

<p><a href="agreement">Review our policy and terms of use</a> for more details on the use of data sets.</p>

<br/><br/><br/>

<p>Have Questions? Need Help?</p>

<p>Please contact Research Data Services -
  <a href="mailto:researchdataservices@umich.edu">researchdataservices@umich.edu</a>
</p>

<p>This document was last updated on May 15, 2018</p>
