<%# Reviewed: hyrax4 -- revisit? %>
<div class="col-md-2">
  <div class="list-thumbnail">
    <%# this is for each work showm in the search result page %>
    <%# hyrax2 # doc = render_thumbnail_tag document %>
    <%= doc = document_presenter(document)&.thumbnail&.thumbnail_tag({}, { suppress_link: true }) %>
    <% if doc.present? %>
      <% doc = doc.gsub!('data-context-href', 'data-reference') %>
      <% doc = doc.gsub!('<img ', '<img alt="collection" ') if doc.present? %>
      <%= raw doc %>
    <% end %>
  </div>
</div>
