<%# Reviewed: heliotrope %>
<% provide :page_header do %>
  <h1><%= t('role-management.index.title') %></h1>
<% end %>

<ul>
  <% @roles.each do |role| %>
    <li><%= link_to role.name, role_management.role_path(role) %></li>
  <% end %>
</ul>

<% if can? :create, Role %>
  <%= button_to t('role-management.index.create'), role_management.new_role_path, method: :get, class: 'btn btn-primary' %>
<% end %>

