<%# Added: hyrax4 %>
<%# monkey - copied up from blacklight gem because the blacklight helpers were not being found %>

<div id="spell">
  <h3 class="suggest">
    <em>
      <%= t('blacklight.did_you_mean', options: safe_join(@options.map { |word| link_to_query(word) }, " #{t('blacklight.or')} ")).html_safe %>
    </em>
  </h3>
</div>
