@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

$u-m-blue: #00274c;
$u-m-yellow: #ffcb05;
$primary-link: #126DC1;


/** Base Styles **/
a {
  text-decoration: underline;
  color: $primary-link;
}

html,
body {
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

.bold {
  font-weight: 600;
}

caption {
  color: #656464;
}

/** Utilities **/

.padding0 {
  padding: 0 !important;
}

.margin0 {
  margin: 0 !important;
}
/** Buttons **/

.btn-default {
  border-radius: 4px;
  font-size: 1em !important;
  //padding: 0.45rem 0.95rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.btn-danger {
  border-style: none none solid;
  border-radius: 4px !important;
  border-style: none none solid !important;
  font-size: 1em !important;
  //padding: 0.45rem 0.95rem;
  padding: 0.5rem 1rem !important;
  text-decoration: none;
}

.btn-success {
  border-radius: 4px !important;
  border-style: none none solid !important;
  //background: rgb(18, 109, 193) !important;
  font-size: 1em !important;
  padding: 0.55rem 1rem !important;
  text-decoration: none !important;
}

.btn-primary {
  border-radius: 4px !important;
  border-style: none none solid !important;
  background: rgb(18, 109, 193) !important;
  font-size: 1em !important;
  padding: 0.55rem 1rem !important;
  text-decoration: none !important;
}

.btn-secondary {
  background: transparent;
  background-color: #fff !important;
  border: 1px solid rgb(78, 78, 78) !important ;
  border-radius: 4px !important;
  color: rgb(38, 38, 38) !important;
  //font-size: 1em;
  //padding: 0.5rem 1rem;
  //text-decoration: none;
}

.btn-outline-secondary {
  color: #212B36;
  border-color: #212B36;
}

.btn-outline-secondary:hover,
a.btn.btn-default:hover  {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-neutral-400);
  color: #212B36;
  border-color: #212B36;
  background-color: #fff;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary.active:not(:disabled):not(.disabled), .show > .btn-outline-secondary.dropdown-toggle {
  color: #212B36;
  border-color: #212B36;
  background-color: #fff;
}

.btn-subtle {
  background: transparent;
  background-color: #E5E9ED;
  border-radius: 3px !important;
  color: rgb(38, 38, 38) !important;
  font-size: 1em !important;
  padding: 0.5rem 1rem !important;
  text-decoration: none !important;
}

.btn-outline-secondary {
  color: #212B36;
}

.add-files-link button {
  padding: 0.3rem 0.75rem;
  border-radius: 4px;
  border-style: none none solid !important;
  background: rgb(18, 109, 193) !important;
  text-decoration: none;
  border-bottom: 3px solid rgb(12, 82, 146) !important;
  color: #fff;
}

button:hover, 
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-neutral-400);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #00274C;
}

/** Breadcrumb **/

.breadcrumb {
  border: 0;
  background-color: #f0f0f0;

  li.active {
    font-weight: 600;
  }
}

.breadcrumb li + ::before {
  border-right: 0;
  transform: rotate(0deg);
}

/** Header Nav **/

nav#masthead {
  background-color: var(--color-blue-400) !important;
}

#masthead > .d-flex {
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.navbar-inverse {
  background-color: var(--color-blue-400) !important;
  border: 0;
}

.navbar-nav {
  align-items: center;
  gap: .5rem;
}

#user_utility_links {
  li > a {
    text-decoration: none;
    color: #fff;
  }

  li > a:hover {
  text-decoration: underline;
  }
}

button.nav-link.dropdown-toggle.language-dropdown { 
  background-color: var(--color-blue-400);
  color: #fff;
  border: 0;
  display: none;
}

.dropdown-menu > li > a, .twitter-typeahead .tt-menu > li > a {
  color: #000 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

#header-navbar {
  margin: 0;
  padding: 0;
}

#masthead > div > button > .navbar-toggler-icon {
  display: block;
}

/* Menu dropdown */

#user_utility_links > .dropdown > ul.dropdown-menu {
  padding: .5rem 1rem;
}

#user_utility_links {
  flex-direction: row;
}

.btn-group > ul.dropdown-menu {
  padding: .5rem;
}

/** Header **/

.site-header {
  padding-bottom: 0;
}

.site-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  align-items: center;
}

.site-title-container {
  flex: 1;
}

.container.container--full.site-header-container {
  padding: 0.35em 0;
}

.site-navigation {
  flex: 1;
  text-align: end;
}

/* Masthead */

#masthead {
  margin-bottom: 0;
  padding: 0.25em 0;
}

.image-masthead {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    asset-url("home_banner.jpg");
  background-size: cover;
}

.site-title {
  font-size: 2em;
}

.splash-container {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  .splash-text--medium {
    color: #fff;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
  }

  .splash-buttons {
    color: #fff;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 30px;
    padding: 1.5em 0;
    text-align: center;
  }
}

.browse-btn {
  margin: 0.5em 0;
}

.browse-btn::before {
  font-family: FontAwesome;
  content: "\f002";
  padding-right: .25rem;
}

.share-btn::before {
  font-family: FontAwesome;
  content: "\f093";
  padding-right: .25rem;
}

.home_share_work.row a {
  text-decoration: none;
}

a#browse_link {
  text-decoration: none;
}
/** Search Bar **/

.search-bar--header {
  background-color: #e6f3ff;
  padding: 0.75em 0;
  box-shadow: inset 0 -2px 0 0 #cce6ff;

  .input-group-btn {
    #search-submit-header,
    .btn.btn-default.dropdown-toggle {
      padding: 0.65em 1em;
      margin: 5px;
    }
  }

  .input-group-addon {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #e6f3ff;
    border: none;
    height: 40px;
  }

  select#search_field,
  .form-control {
    height: 40px;
    padding: 9px 16px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px !important;
  }

  button#search {
    border-radius: 4px;
    padding: 4px 12px;
    height: 40px;
  }

  .submit-search-text {
    font-size: 1.25em;
  }

}

.search-bar-container {
  max-width: 40rem;
  margin: 0 auto;
}

/** Dashboard **/

body.dashboard {
  padding-top: 0;
}

.dashboard #masthead {
  position: initial;
}

.dashboard #content-wrapper {
  padding: 0;
}

.dashboard .main-header {
  padding: 1em 0.5em;
}

.dashboard .main-header h1 {
  font-size: 1.5rem;
}

.main-content.maximized,
.sidebar.maximized {
  padding-top: 2em;
}

.main-content .card {
  font-size: 16px;
}

ul.breadcrumb li a {
  color: #555;
}

nav.breadcrumb ol li a {
 color:$primary-link;
}

.nav-tabs > li > a  {
  color: $primary-link;
}

/* Sidebar */

.sidebar .h5 {
  font-size: 1rem;
}

.sidebar .nav li {
  padding: .25rem;
}

 .sidebar .nav-pills > li > a {
  text-decoration: none;
}

/* Badges */

/* In Dashboard */
.list-group-item > .badge, 
.list-group-item > li> .badge.badge-optional,
.views-downloads-dashboard > li> .badge.badge-optional
 {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777777;
  border-radius: 10px;
}

.badge-success {
  background-color: #387f38;
  color: #fff;
}

span.state.state-pending_review.badge.badge-primary {
  background-color: #337ab7;
}

td.status span.enabled {
  background-color: #198539;
}

td.status span.disabled {
  background-color: #4d4d4d;
}

/* Custom select dashboard */

div.dataTables_wrapper div.dataTables_length select {
  width: 4em !important;
}

/** Search on dash **/

#search-field-header {
  padding: 1.25em .5em;
}

/* Go button */
button#search-submit-header {
  display: flex;
  align-items: center;
  gap: .25rem;
}
/** Home Page **/

.featured-works--home {
  padding: 1em 0 2em;

  h2 {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #6e6e6e;
    font-size: 2em;
    text-align: center;
  }
}

.home-content {
  justify-content: center;
}

.recent-item {
  border: 1px solid transparent;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

ol.list-group.list-group-striped li:nth-of-type(odd) {
  background: #f9f9f9;
}

#homeTabs {
  margin-bottom: 0;

  .nav-item {
  padding: 1rem 0 0;
  }

  li.active > a {
    background: #337ab7;
    text-decoration: underline;
    color: #fff;
    border-radius: 4px;
  }

  li > a {
  color: $primary-link;
  padding: 1rem;
  }
}

/** Content **/
#content-wrapper {
  padding: 1em 0;
}
#content-wrapper > a {
  color: #337ab7;
}

/** Catalog **/

.search-results {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "sidebar content";
  gap: 2rem;
}

@media (max-width: 575.98px) {
.search-results {
  grid-template-columns: 1fr;
  grid-template-areas:
  "sidebar" 
  "content";
}
}

.sidebar {
  grid-area: sidebar;
}

#content {
  grid-area: content;
}

h2.search-result-title a {
  color: $primary-link;
  font-size: 1.2em;
}

span.collection-tag {
  color: #6E6E6E;
  font-size: 1.05em;
  margin-left: auto;
  padding-right: .5em;
}

.collection-tag > span.label, td.collection_type > span.label {
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-100) !important;
  border-radius:4px;
  padding: .25rem;
  font-weight: 600;
}

.search-result-wrapper .collection-counts-wrapper .collection-counts-item {
    border: solid 1px #e0e0e0;
}

.search-widgets > .view-type {
  display: none;
}

#search-results {
  ul.catalog li {
    background-color: #fafafa;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.24);
    margin: 1em 0;
    padding: 0 .5em .5em;
  }
  a {
    color: $primary-link;
  }
}
.search-result-wrapper .search-results-title-row .search-result-title {
  display: inline-block;
  margin: 0 15px;
  font-size: 18px;
}

.search-result-wrapper {
    border-bottom: none;
    margin-right: 0;
    margin-left: 0;
}

.search-result-wrapper .search-results-title-row  {
  background-color: #fff;
  padding: .75em 0 .75em;
  margin-bottom: .5em;
  flex-flow: row wrap;
  width: 100%;
}

table.table.table-striped.related-files  {
  table-layout: fixed;
  word-wrap: break-word;
}

.table-scroll--container {
  overflow-x: auto;
  width: 100%;
}

.related-files .thumbnail {
  width: 60px;
}

/* Tabs */

.nav-tabs>li.active>a {
  color: #555555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav.nav-tabs {
  padding: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li > a.active, .nav-tabs .nav-link.active  {
  text-decoration: underline;
  color: #126DC1;
  border-top: 4px solid #126DC1;
  border-radius: 4px;
  border-bottom: 2px solid #fff;
  background-color: #fff;
}

.nav-tabs > li > a {
  color: #126DC1;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.recent-item .recent-label {
  color: #6a737b;
}

/* Works Tabs - Admin */

ul#my_nav {
  padding: 0;

  li > a.active {
  border-top: 4px solid #126DC1;
  }

  li {
    padding: 0;
  }
}

.nav-item {
  padding: 1rem 0;
}

.card.tabs.work-tabs > ul.nav.nav-tabs > .nav-item {
  padding: 1rem 0;
}

.card.tabs.work-tabs > ul.nav.nav-tabs > .nav-item {
  color: #126DC1;
  font-size: 1rem;
  text-decoration: none;
}

ul.nav.nav-tabs > .nav-item {
  padding: 0;
  }

.nav-tabs .nav-link:hover {
   border-color: transparent;
}

a.nav-link.active:hover {
  border-top: 4px solid #126DC1;
}

.nav-item > a:hover, #new_data_set .nav-tabs > li > a:hover {
  text-decoration: underline;
}

/* Collections - Admin */

.btn-collections {
  margin-bottom: 1rem;
}

.collection-tabs-admin > ul > li {
 padding: 1rem 0 !important;
}

/** Deposit Pages **/
.nav.nav-tabs {
  padding-left: 0;
}

.deposit-header {
  padding-bottom: 0.5em;
}

#new_data_set {
  .nav-tabs {
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }

  .nav-tabs > li.active > a {
    text-decoration: underline;
    border-top: 4px solid #126DC1;
    border-radius: 4px;
    border-bottom: 2px solid #fff;
  }
  .nav-tabs > li > a  {
  color: $primary-link;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  }

  .form-tab-content {
    font-size: 1rem;
    padding: 0 0.75em 0.75em;
  }

  .tab-content {
    background-color: #fff;
    margin-bottom: 0;
  }
}

.form-progress > .card-header > h2.card-title {
  color: #4e4a42;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 30px;
}

.users-listing > .card-header {
  font-size: 20px;
}

.form-progress.card, 
.form-progress > .card-footer {
  font-size: 1rem;
}

.form-progress > .card-footer > label {
  font-weight: bold;
  padding-bottom: 1.25rem;;
}

.form-progress > .card-footer > input,
.form-progress > .card-footer > a {
   margin: .25rem 0;
}

.form-progress > .card-footer input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

li.radio > label > input[type="radio"] {
    width: 18px;
    height: 18px;
}

.required-tag {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: relative;
  bottom: 0.2rem;
  background-color: #0c5292;
  border-radius: 0.2rem;
  vertical-align: super;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

.add-files-link {
  text-align: center;
  padding: 0.5em 0 1em;
  font-size: 1.25em;
}

.arrow-icon {
  position: relative;
  top: 5px;
  left: 5px;
}

.control-label, #labelFormFileMultiple{
  font-weight: bold;
}

.legend-label, #data_set_rights_license label[for="data_set_rights_license"] {
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
}

#collections-list-table input.disabled {
    margin: 10px 10px 2px 10px;
    padding: 0px;
}

.table-responsive {
  overflow-x: scroll !important;
}

.coverage-start-group, .coverage-end-group {
  gap: 1rem;
}

.date-add-coverage-button,.date-reset {
 color: #337ab7;
}

.btn-link, .controls-add-text {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0;
}

.btn-link.add {
    display: flex;
    align-items: center;
}

span.glyphicon.glyphicon-plus {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat center url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23337ab7" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>');
    background-size: contain;
    margin-right: 0 !important;
}

/** Edit Work/User Collection **/
.set-access-controls h3, 
.set-access-controls label,
.section-add-sharing h3,
.section-collection-sharing legend,
.section-collection-sharing h3 {
  font-weight: bold;
  font-size: 1.05em;
}

div.branding-banner-row {
    border-top: 0;
}

/** Work Details **/

.work-details-container {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}
.title-header {
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 1rem;
}

.work-description-panel-heading {
  background-color: #e6f3ff !important;

  .work-description-title {
    display: inline-flex;
    align-content: center;
    color: #0c5292;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  svg.icon {
    margin-right: 0.5em;
  }
}

#workflow_controls > button > .card-header, #workflow_controls > .card-header {
  background-color: #ffcb05;
  font-weight: bold;
  color: var(--color-neutral-400);
  text-align: left;
  font-size: 1.5rem;
  text-decoration: none;
}

#workflow_controls > .card-header > a{
  color: var(--color-neutral-400);
}

#job_statuses_controls > button,
#ingest_append_script_controls > button {
  border: 0;
  padding: 0;
  font-size: .75rem;
  text-align: left;
}

#job_statuses_controls > button > .card-header,
#ingest_append_script_controls > button > .card-header {
  border: 0;
}

.card-body.ingest > h2.title-header,
.card-body.reports >  h2.title-header,
.card-body.scheduler >  h2.title-header {
    padding-left: 0;
}

.work-panel-heading {
  background-color: #fff !important;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  border-bottom: 0;

  .title-header {
    font-size: 1.5em !important;
    padding-left: 1rem;
    display: flex;
  }

  .text-muted {
    font-size: 0.65em;
    padding-left: .5rem;
  }

  span.label.label-success,
  span.label.label-primary {
    vertical-align: top !important;
  }
}

.work-show.data_set {
  background-color: #f2f2f2;
}

.work-show.data_set > span[itemprop="url"],
span[itemprop="license"]  {
  display: none;
}

ul.tabular {
  padding: 0.5em;
  li {
    display: inline;
    padding: 0.5em;
  }

  li:first-child {
    padding-left: 0;
  }
}

ul.tabular li.attribute-access_deepblue,
ul.tabular li.attribute-referenced_by,
ul.tabular li.attribute-creator,
ul.tabular li.attribute-creator_orcid,
ul.tabular li.attribute-fundedby {
  display: list-item;
  padding: .15em 0;
}

.data-set-table {
  border: 1px solid #e3e3e3;
  border-radius: 3px;

  tbody tr th {
    padding: 1em !important;
    color: #6e6e6e;
  }

  tr th {
    padding: 1em !important;
  }
}

.panel-workflow .panel-heading {
  background-color: #e68406;
  font-weight: bold;
}


.panel-items {
  margin-top: 1em;

  h2 {
    font-size: 1.25em;
  }

  .file_set.attributes {
    border-bottom: solid 1px #ccc;
  }

  .table-scroll--container {
    height: auto;
    max-height: 500px;
  }
}

.panel-edit,
.panel-download,
.panel-admin,
.panel-analytics {
  margin-bottom: 1.25em;
  
  h2 {
    font-size: 1.25em; }
  p {
    padding: .25em;
    margin-bottom: .5em;
  }
  .panel-body {
    padding: .5em;
  }
}

.panel-admin > .card-body > a {
  margin: .25rem 0;
}

.panel-ingest-append-scripts {
  h2 {
    font-size: 1.25em;
  }

  dl.job-status-show dt {
    padding-left: 0.5em;
  }
}

.panel-job-statuses {
  h2 {
    font-size: 1.25em;
  }

  dl.job-status-show dt {
    padding-left: 0.5em;
  }
}

.panel-relationships {
  h2 {
    font-size: 1.25em;
  }

  dl.work-show dt {
    padding-left: 0.5em;
  }
}

/** Show Actions **/

.show-actions {
  padding: 0;
  
  form,
  a {
    margin: 0.5em 0.25em;
  }
}

#sortAndPerPage {
    border: 0;
    padding: .5em;
    background-color: #FAFAFA;
    border-radius: 4px;

  .pagination {
    align-items: center;
  }
}

/** Facets **/

.sidenav> .facets-header > button.navbar-toggler.navbar-toggler-right {
  display: none;
}

.top-panel-heading.panel-heading, .facets-header{
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

.top-panel-heading.panel-heading h2.facets-heading, h2.facets-heading {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.facets-header {
  display: flex;
  padding: .5rem;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.panel-title.facet-field-heading a {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8em;
}

.card-header.facet-field-heading button {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8em;
  display: flex !important;
  justify-content: space-between;
}

.card-header.facet-field-heading button.collapsed:after {
  font-family: FontAwesome;
  content: "\f054";
}

.card-header.facet-field-heading button:after {
  font-family: FontAwesome;
  content: "\f078";
}

.panel-heading.collapse-toggle .panel-title::after {
  padding-top: 0.25em;
}

div.facets h3 {
  font-size: 1.25em;
}

.panel-default > .panel-heading {
  background-color: #fafafa;
}

.card.facet-limit {
  margin-bottom: 5px;
}

/** Collections **/

.hyc-container {
  margin-top: 1em;
}

.hyc-generic .hyc-title h1 {
  font-size: 1.5em;
  padding-top: 1em;
}

.hyc-banner {
  margin-top: .5em;
  border-radius: 0;
  min-height: 145px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
}

.hyc-title-row {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.24);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  padding: .75em 0;

  .hyc-title-under-banner {
    font-size: 1.55em;
    color:#000;
    padding-left: .5em;
    padding-right: .5em;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
          flex-grow: 2;
  }
}

.hyc-bugs  {
  margin-left: auto;

  .hyc-last-updated {
    padding-right: .5em;
    padding-left: .5em;
  }
}

.hyc-logos {
  padding-left: .5em;
  padding-top: .5em;  

  img {
    max-width: 50px;
  }
}

.hyc-metadata.panel.panel-default {
  padding: 0;
  margin: 0 1em;
}

.hyc-metadata {
   padding: 0;
   max-width: 100%;
  h2 {
  margin:0;
  padding: 0 .25em;
  }

  dl {
  padding: 0 .25em;
  }
}

.hyc-description {
  .hyc-blacklight.hyc-bl-title, .hyc-blacklight.hyc-bl-results {
    padding-left: 0;
  }
}

#collection_search {
  padding: 1.05em;
}

.hyc-blacklight.hyc-bl-search.hyc-body.row {
  padding: 1em 0;

  .edit_collection {
  margin: 0 1em;
  }
}

.hyc-blacklight.hyc-bl-title {
  h3 {
    font-weight: bold;
  }
}

.hyc-blacklight.hyc-bl-results {
  padding: 1em 0 0 1.5em;
}

/** Help + About **/

.static-page-sidebar {
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  ul > li > a {
    color: $primary-link;
  }

  ul > li > ul > li {
    padding-left: .5em;
  }

  ul > li > ul > li {
    padding-left: 1em;
  }

  ul > li > ul > li > a {
    color: $primary-link;
  }

  ul > li > ul > li > ul > li {
    padding-left: 1.5em;
  }

  ul > li > ul > li > ul > li > a {
    color: $primary-link;
  }

  ul > li > ul > li > ul > li > ul > li {
    padding-left: 2em;
  }

  li.current {
    //border-left: 4px solid #0C5292;
    font-weight: 600;
  }
}

.static-page-main,
.static-page-sidebar {
  float: left;
}

.static-page-main {
  h1 {
    font-size: 1.65em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  h4 {
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  ul {
    padding: 0 2em 0.5em;
  }

  ul li {
    list-style: circle;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .need-help {
    padding: 1em;
    margin: 2em 0;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $primary-link;
  }

  /* ul {
    list-style-type: disc;
    list-style-position: inside;
  } */
  ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0.5em 0.5em 0.5em 1.5em;
    text-indent: -1.0em;
  }
  /*ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  } */
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 1em;
    padding: 0.5em;
    text-indent: -1.0em;
  }

}

/** Footer **/

.footer {
  max-width: 100%;
  margin-top: 3em;
}

.footer-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0.75rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;

  ul li {
    display: inline;
    padding: 0 0.25em;
  }

  a {
    color: #fff;
    text-decoration:none;
  }

  p.column-two > a {
    text-decoration: underline;
  }

  a:hover {
    color: #fff;
  }

  p {
    width: 50%;
    margin: 0;
  }

  ul {
    width: 50%;
  }

  .column-two {
    text-align: right;
  }
}

.footer--dark {
  background-color: $u-m-blue;
}

.footer--light {
  background-color: #f2f9ff;
}

.footer-text--light {
  color: #fff;
}

.footer ul {
  display: inline-block;
}

/** Media Queries **/

@media (max-width: 575.98px) {
  .splash-container {
    padding: 0;
  }
  .featured-works--home {
    padding: 1em 0.5em 2em;
  }

  .splash-buttons {
    padding-top: 0 !important;
  }

  .footer-container p {
    width: 100%;
  }

  .footer p.column-two {
    text-align: left;
  }

  .footer-container ul {
    width: 100%;
    padding-bottom: 0.5em;
  }

  .table.table-striped.data-set-table {
    table-layout: fixed;

    td {
      word-break: break-word;
    }
  }
}

.search-group {
  display: flex; 
  justify-content: space-between;
}

.main-search-group {
  display: flex; 
  justify-content: space-between;
}

.input-group-main {
  display: flex; 
  justify-content: space-between;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
  ul.dropdown-menu.dropdown-menu-right.show {
    color: var(--color-neutral-400);
    border: 0;
}
}

.ingest-append-script-files {
  background-color: #f8f8f8;
}

.job-statuses-actions {
  background-color: #f8f8f8;
}

.add-files-link button:focus,
.add-files-link button:hover,
.form-control:focus,
.form-control:hover,
.radio-button-span:focus,
.radio-button-span:hover,
.btn:not([disabled]):active, 
.btn:not([disabled]):hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-neutral-400);
}

.radio-button-span {
  display: grid;
  gap: .25rem;
  margin: .25rem 0;
  justify-items: start;
  justify-content: start;
  grid-template:
  "input badge"
  ".      radiotext"
  " .      collapse";
}

.radio-button-span > input {
  grid-area: input;
}

.radio-button-span > span.badge {
  grid-area: badge;
}

.radio-button-span > span.radio-text {
  grid-area: radiotext;
}

.radio-button-span > .collapse.show {
  grid-area: collapse;
}

.form-inline {
 gap: 0 .25rem;
}

.form-tab-content h2 {
  font-size: 1.25rem;
  font-weight: semibold;
}

td.name > h2 {
  font-size: 1rem;
  font-weight: var(--semibold);
}

/* Pagination */

.page-item.active .page-link {
    background-color: #337ab7;
    border-color: #337ab7;
}