@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

$u-m-blue: #00274c;
$u-m-yellow: #ffcb05;
$primary-link: #126DC1;

/** Base Styles **/

a {
  text-decoration: underline;
  color: $primary-link;
}

html,
body {
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

.bold {
  font-weight: 600;
}

caption {
  color: #656464;
}

/** Utilities **/

.padding0 {
  padding: 0 !important;
}

.margin0 {
  margin: 0 !important;
}

/** Buttons **/

.btn-primary {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border-style: none none solid !important;
  background: rgb(18, 109, 193) !important;
  text-decoration: none;
  border-bottom: 3px solid rgb(12, 82, 146) !important;
}

.btn-secondary {
  color: rgb(38, 38, 38) !important;
  padding: 0.5rem 1rem;
  border-radius: 4px !important;
  background: transparent;
  text-decoration: none;
  background-color: #fff !important;
  border: 1px solid rgb(78, 78, 78) !important ;
}

.add-files-link button {
  padding: 0.3rem 0.75rem;
  border-radius: 4px;
  border-style: none none solid !important;
  background: rgb(18, 109, 193) !important;
  text-decoration: none;
  border-bottom: 3px solid rgb(12, 82, 146) !important;
  color: #fff;
}

/** Breadcrumb **/

.breadcrumb {
  border: 0;
  background-color: #f0f0f0;

  li.active {
    font-weight: 600;
  }
}

.breadcrumb li + ::before {
  border-right: 0;
  transform: rotate(0deg);
}

/** Header Nav **/

.navbar-inverse {
  background-color: $u-m-blue !important;
  border: 0;
}

#user_utility_links {
  padding-top: .25em; 

  li > a {
    text-decoration: none;
    color: #fff;
  }

  :hover {
  text-decoration: underline;
  }
}

.dropdown-menu > li > a, .twitter-typeahead .tt-menu > li > a {
  color: #000 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

#header-navbar {
  margin: 0;
  padding: 0;
}

/** Header **/

.site-header {
  padding-bottom: 0;
}

.site-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  align-items: center;
}

.site-title-container {
  flex: 1;
}

.container.container--full.site-header-container {
  padding: 0.35em 0;
}

.site-navigation {
  flex: 1;
  text-align: end;
}

#masthead {
  margin-bottom: 0;
  padding: 0.25em 0;
}

.image-masthead {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    asset-url("home_banner.jpg");
  background-size: cover;
}

.site-title {
  font-size: 2em;
}

.splash-container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 60rem;

  .splash-text--medium {
    color: #fff;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 30px;
    padding: 2em 0;
    text-align: center;
  }
}

.browse-btn {
  margin: 0.5em 0;
}

.home_share_work.row a {
  text-decoration: none;
}

a#browse_link {
  text-decoration: none;
}
/** Search Bar **/

.search-bar--header {
  background-color: #e6f3ff;
  padding: 0.25em;
  box-shadow: inset 0 -2px 0 0 #cce6ff;

  .input-group-btn {
    #search-submit-header,
    .btn.btn-default.dropdown-toggle {
      padding: 0.65em 1em;
    }
  }

  .input-group-addon {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #e6f3ff;
    border: none;
    height: 40px;
  }

  select#search_field,
  .form-control {
    height: 40px;
    padding: 9px 16px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px !important;
  }

  button#search {
    border-radius: 4px;
    padding: 4px 12px;
    height: 40px;
  }

  .submit-search-text {
    font-size: 1.25em;
  }

  .form-control:focus {
    border: 3px solid $u-m-yellow;
  }
}
.search-bar-container {
  max-width: 40rem;
  margin: 0 auto;
}

/** Dashboard **/

body.dashboard {
  padding-top: 0;
}

.dashboard #masthead {
  position: initial;
}

.dashboard #content-wrapper {
  padding: 0;
}

.dashboard .main-header {
  padding: 1em 0.5em;
}

.main-content.maximized,
.sidebar.maximized {
  padding-top: 2em;
}

ul.breadcrumb li a {
  color: #555;
}

nav.breadcrumb ol li a {
 color:$primary-link;
}

.nav-tabs > li > a  {
  color: $primary-link;
}

/** Search on dash **/

#search-field-header {
  padding: 1.1em;
}
/** Home Page **/

.featured-works--home {
  padding: 1em 0 2em;

  h2 {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #6e6e6e;
    font-size: 2em;
    text-align: center;
  }
}

.row.home-content {
  max-width: 100%;
  margin: 0;
}

.recent-item {
  border: 1px solid transparent;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

#homeTabs {
  margin-bottom: 5px;

  li.active > a {
    color: #fff;
  }

  li > a {
  color: $primary-link;
  }
}

/** Content **/
#content-wrapper {
  padding: 1em 0;
}
#content-wrapper > a {
  color: #337ab7;
}

/** Catalog **/
h2.search-result-title a {
  color: $primary-link;
  font-size: 1.3em;
}

#search-results a {
  color: $primary-link;
}

.search-result-wrapper {
  padding-bottom: 1.5em;
}

table.table.table-striped.related-files  {
  table-layout: fixed;
  word-wrap: break-word;
}

.table-scroll--container {
  overflow-x: auto;
}

.related-files .thumbnail {
  width: 60px;
}

/** Deposit Pages **/

.nav.nav-tabs {
  padding-left: 0;
}

.deposit-header {
  padding-bottom: 0.5em;
}

#new_data_set {
  .nav-tabs > li > a  {
  color: $primary-link;
  }
}

#metadata {
  .form-control {
    border: solid 1px #000 !important;
  }
}

.required-tag {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: relative;
  bottom: 0.2rem;
  background-color: #0c5292;
  border-radius: 0.2rem;
  vertical-align: super;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

.add-files-link {
  text-align: center;
  padding: 0.5em 0 1em;
  font-size: 1.25em;
}

.arrow-icon {
  position: relative;
  top: 5px;
  left: 5px;
}

/** Work Details **/

.work-details-container {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}
.title-header {
  font-size: 1.5em;
}

.work-description-panel-heading {
  background-color: #e6f3ff !important;

  .work-description-title {
    display: inline-flex;
    align-content: center;
    color: #0c5292;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  svg.icon {
    margin-right: 0.5em;
  }
}

.work-panel-heading {
  background-color: #fff !important;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  border-bottom: 0;

  .title-header {
    font-size: 1.5em !important;
  }

  .text-muted {
    font-size: 0.5em;
  }

  span.label.label-success,
  span.label.label-primary {
    vertical-align: top !important;
  }
}
.work-show.data_set {
  background-color: #f2f2f2;
}

ul.tabular {
  padding: 0.5em;
  li {
    display: inline;
    padding: 0.5em;
  }

  li:first-child {
    padding-left: 0;
  }
}

.data-set-table {
  border: 1px solid #e3e3e3;
  border-radius: 3px;

  tbody tr th {
    padding: 1em !important;
    color: #6e6e6e;
  }

  tr th {
    padding: 1em !important;
  }
}

.panel-workflow .panel-heading {
  background-color: #e68406;
  font-weight: bold;
}


.panel-items {
  margin-top: 1em;

  h2 {
    font-size: 1.25em;
  }

  .file_set.attributes {
    border-bottom: solid 1px #ccc;
  }

  .table-scroll--container {
    height: auto;
    max-height: 500px;
  }
}

.panel-relationships {
  h2 {
    font-size: 1.25em;
  }

  dl.work-show dt {
    padding-left: 0.5em;
  }
}

/** Show Actions **/

.show-actions {
  form,
  a {
    margin: 0.5em 0.25em;
  }
}

#sortAndPerPage {
    border: 0;
    padding: .5em;
    background-color: #FAFAFA;
    border-radius: 4px;
}

/** Facets **/

.top-panel-heading.panel-heading {
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

.top-panel-heading.panel-heading h2.facets-heading {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.panel-title.facet-field-heading a {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8em;
}

.panel-heading.collapse-toggle .panel-title::after {
  padding-top: 0.25em;
}

div.facets h3 {
  font-size: 1.25em;
}

.panel-default > .panel-heading {
  background-color: #fafafa;
}

/** Collections **/
.hyc-generic .hyc-title h1 {
  font-size: 1.5em;
  padding-top: 1em;
}
#collection_search {
  padding: 1em;
}
/** Help + About **/

.static-page-sidebar {
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  ul > li > a {
    color: $primary-link;
  }

  ul li > ul li {
    padding-left: 1em;
  }

  li.current {
    //border-left: 4px solid #0C5292;
    font-weight: 600;
  }
}

.static-page-main {
  h1 {
    font-size: 1.65em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  h4 {
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 0;
  }

  ul {
    padding: 0 2em 0.5em;
  }

  ul li {
    list-style: circle;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .need-help {
    padding: 1em;
    margin: 2em 0;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $primary-link;
  }
}

/** Footer **/

.footer {
  max-width: 100%;
  margin-top: 3em;
}

.footer-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0.75rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;

  ul li {
    display: inline;
    padding: 0 0.25em;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }

  p {
    width: 50%;
    margin: 0;
  }

  ul {
    width: 50%;
  }

  .column-two {
    text-align: right;
  }
}

.footer--dark {
  background-color: $u-m-blue;
}

.footer--light {
  background-color: #f2f9ff;
}

.footer-text--light {
  color: #fff;
}

.footer ul {
  display: inline-block;
}

/** Media Queries **/

@media (max-width: 575.98px) {
  .splash-container {
    padding: 0;
  }
  .featured-works--home {
    padding: 1em 0.5em 2em;
  }

  .footer-container p {
    width: 100%;
  }

  .footer p.column-two {
    text-align: left;
  }

  .footer-container ul {
    width: 100%;
    padding-bottom: 0.5em;
  }

  .table.table-striped.data-set-table {
    table-layout: fixed;

    td {
      word-break: break-word;
    }
  }
}

@media (max-width: 767px) {
  .dropdown-menu > li > a, .twitter-typeahead .tt-menu > li > a {
    color: #fff !important;
  }
}