@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

$u-m-blue: #00274c;
$u-m-yellow: #ffcb05;

/** Base Styles **/

a {
  text-decoration: underline;
}

html,
body {
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

/** Utilities **/

.padding0 {
  padding: 0;
}

/** Header **/

.navbar-inverse {
  background-color: $u-m-blue !important;
  border: 0;
}

#header-navbar {
  margin: 0;
  padding: 0;
}

.site-header {
  padding-bottom: 0;
}

.site-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  align-items: center;
}

.site-title-container {
  flex: 1;
}

.container.container--full.site-header-container {
  padding: .35em 0;
}

.site-navigation {
  flex: 1;
  text-align: end;
}

#masthead {
  margin-bottom: 0;
  padding: .25em 0;
}

.image-masthead {
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7)),asset-url("home_banner.jpg");
  background-size: cover;
}

.site-title {
  font-size: 2em;
}

.splash-container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;

 .splash-text--medium {
   color: #fff;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 30px;
    padding: 2em 0;
    text-align: center;
  }
 }

 .browse-btn {
   margin: .5em 0;
 }
 
.home_share_work.row a {
  text-decoration: none;
}

 a#browse_link {
   text-decoration: none;
 }
/** Search Bar **/

.search-bar--header {
  background-color: #E6F3FF;
  padding: .25em;
  box-shadow: inset 0 -2px 0 0 #CCE6FF;

.input-group-btn {

  #search-submit-header, 
  .btn.btn-default.dropdown-toggle {
    padding: .65em 1em;
  }
}

  .input-group-addon {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #E6F3FF;
    border: none;
    height: 40px;
  }

  select#search_field, .form-control {
    height: 40px;
    padding: 9px 16px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px !important;
  }

   button#search {
    border-radius: 4px;
    padding: 4px 12px;
    height: 40px;
  }

  .submit-search-text {
    font-size: 1.25em;
  }

  .form-control:focus {
    border: 3px solid $u-m-yellow;
  }
}
.search-bar-container {
  max-width: 40rem;
  margin: 0 auto;
}
/** Home Page **/ 

.featured-works--home {
  padding: 1em 0 2em;

  h2 {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #6E6E6E;
    font-size: 2em;
    text-align: center;
  }
}

.recent-item {
  border: 1px solid transparent;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.24);
}

#homeTabs {
  margin-bottom: 5px;
}

/** Content **/
#content-wrapper {
  padding: 1em 0;
}
#content-wrapper > a {
  color: #337ab7;
}

/** Dashboard **/

.main-content.maximized, 
.sidebar.maximized {
  padding-top: 2em;
}

ul.breadcrumb li a {
  color: #555;
}

/** Catalog **/
h4.search-result-title a {
  color: #337ab7;
  font-size: 1.3em;
}

.search-result-wrapper {
  padding-bottom: 1.5em;
}

table.table.table-striped.related-files {
   table-layout: fixed;
   word-wrap: break-word;
}

.table-scroll--container {
  overflow-x: auto;
}

.related-files .thumbnail {
    width: 60px;
  }

/** Work Details **/

.title-header {
  font-size: 1.5em;
}

.work-panel-heading {
  background-color: #fff !important;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.work-show.data_set {
  background-color: #f2f2f2;
}

ul.tabular {
  padding: .5em;
    li {
    display: inline;
    padding: .5em;
  }
}

.data-set-table {
  border: 1px solid #e3e3e3;
  border-radius: 3px;

  tr th {
    font-weight: 600;
    padding: 1em !important;
  }
}

/** Facets **/

.top-panel-heading.panel-heading {
  background-color: #FAFAFA;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

.top-panel-heading.panel-heading h2.facets-heading {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.panel-title.facet-field-heading a {
    color: #4A4A4A;
    text-decoration: none;
    font-weight: 600;
    font-size: .8em;
}

.panel-heading.collapse-toggle .panel-title::after {
    padding-top: .25em;
}

/** Help + About **/ 

.static-page-sidebar {
  
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: .5em 0;
  }

   ul li > ul li {
    padding-left: 1em;
  }

  li.current {
    //border-left: 4px solid #0C5292;
    font-weight: 600;
  }
}

.static-page-main {

  h1 {
    font-size: 1.65em;
    font-weight: 500;
    padding: .5em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: .5em 0;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 500;
    padding: .5em 0;
  }

  h4 {
    font-size: 1.15em;
    font-weight: 500;
    padding: .5em 0;
  }

  ul {
    padding: 0 2em .5em;
  }

  ul li {
    list-style: circle;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .need-help {
    padding: 1em;
    margin: 2em 0;
    text-align: center;
  }

  img {
    max-width: 100%;}
}

/** Footer **/

.footer {
  width: 100%;
  padding: 1rem 0;
}

.footer-container {
  margin: 0 auto;
  padding: 0 1.25rem;

  ul li {
    display: inline;
    padding: 0 .25em;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }
}

.footer-subfooter {
  width: 100%;
  padding: .5rem 0;
  margin-top: 0;
}

.footer--dark {
  background-color: $u-m-blue;
}

.footer--light {
 background-color: #F2F9FF;
}

.footer-text--light {
  color: #fff;
}

.footer ul {
  display: inline-block;
}
/** Media Queries **/

@media (max-width: 575.98px) { 
 
  
}

