<div class="announcement" style="color:red; background-color: white;">
    <div class="row">
      <div class="col-sm-10">
					Warning: The Internet Explorer browser is likely to cause errors with DeepBlue Data. 
					<!--<br />User agent is: <%= user_agent() %>; User browser is <%= users_browser() %>--> 
					<br />
			</div>
    </div>
  </div>
