<section class="update-alert--error container-fluid">
  <div class="row ribbon-content">
    <div class="container update-alert-container">
      <p class="margin0">Warning: The Internet Explorer browser is likely to cause errors with Deep Blue Data. 
					<!--<br />User agent is: <%= user_agent() %>; User browser is <%= users_browser() %>--> 
      </p>
    </div>
  </div>
</section>