<%# Reviewed: hyrax4 %>
  <a href='<%= Rails.configuration.relative_url_root %>' class="site-title-flex site-link">
    <%= image_tag("m-library-logo.svg", class: "logo-svg", alt:"University of Michigan Library", 'aria-hidden'=> "false") %>
    <span class="site-title"><%= application_name %></span>
  </a>
