<% if Flipflop.display_standard_message? %>
  <section class="update-alert--warning container-fluid">
    <div class="row ribbon-content">
      <div class="container update-alert-container">
      	<%= t( "hyrax.masthead_banner.standard_html" ) %>
      </div>
    </div>
  </section>
<% elsif Flipflop.display_outage_message? %>
  <section class="update-alert--warning container-fluid">
    <div class="row ribbon-content">
      <div class="container update-alert-container">
        <%= t( "hyrax.masthead_banner.outage_banner_html" ) %>
      </div>
    </div>
  </section>
<% end %>