<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t('verbage.remediation_header') %></h2>
  </div>
  <div class="panel-body">
    <%= t('verbage.remediation_html') %>
  </div>
</div> <!-- End remediation verbage panel -->
