<%# Reviewed: hyrax4 %>
<div class="panel panel-default panel-relationships">
<div class="panel-heading">
  <h2><%= t('.header') %></h2>
</div>
<dl class="work-show">
<%= render 'relationships_parent_rows', presenter: presenter %>
</dl>
</div>
