<div class="col-12">
  <div class="workflow-actions">
    <% if @presenter.can_perform_workflow_actions?  %>
      <% if @presenter.workflow.actions.present? %>
        <%= render 'workflow_actions', presenter: @presenter %>
      <% else %>
        <%= render 'workflow_actions_just_comments', presenter: @presenter %>
      <% end %>
    <% end %>
  </div>
</div>
