<div id="workflow_controls" class="card panel-workflow">
  
    <button data-toggle="collapse" data-target="#workflow_controls_collapse" class="btn collapsed" aria-expanded="false">
    <div class="card-header">
      <h2 class="card-title">Review and Approval <i class="fa fa-chevron-right pull-right"></i></h2>
      </div>
    </button>
  
  <%= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
    <div id="workflow_controls_collapse" class="panel-body panel-collapse collapse">
      <div class="col-sm-3 workflow-actions">
        <% if @presenter.workflow.state == "deposited" %>
          <h3>Work has been Approved and Deposited</h3>
        <% else %>
          <% if @presenter.draft_mode? %>
            <h3>Work is in draft mode, not under review</h3>
          <% else %>
            <h3>Work is under review</h3>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-9 workflow-comments">
        <h4>Previous Comments</h4>
        <dl>
          <% presenter.workflow.comments.each do |comment| %>
            <dt><%= comment.name_of_commentor %></dt>
            <dd><%= comment.created_at.strftime('%a, %d %b %Y %H:%M:%S') %> - <%= comment.comment %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
</div>
