  <% if presenter.tombstone.present? %>
    <h2 class="alert-warning">This work is Tombstoned. Only the metadata is available for viewing. The reason for tombstoning this work is: <%=presenter.tombstone %></h2>
  <% end %>
