<!-- Begin Hyrax v3 upgrade -- Presenter: <%= @presenter.class.name %> in <%= __FILE__ %> -->
<% provide :page_title, title_presenter(curation_concern).page_title %>
<!-- End hyrax v3 upgrade -->
<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1 class="deposit-header">Describe Work</h1>
<% end %>

<%= render 'form' %>
