<br/><b>Begin Hyrax v3 upgrade -- Presenter: <%= @presenter.class.name %> in <%= __FILE__ %></b><br/>
<% provide :page_title, title_presenter(curation_concern).page_title %>
<br/><b>End hyrax v3 upgrade</b><br/>
<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1 class="deposit-header">Describe Work</h1>
<% end %>

<%= render 'form' %>
