<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script type='text/javascript' src='https://badge.dimensions.ai/badge.js'></script>

<!-- for DataCite Icon -->
<!-- <script type="text/javascript"  src="https://unpkg.com/vue@^2/dist/vue.min.js"></script> -->
<script type="application/javascript;charset=utf-8" src="https://unpkg.com/browse/@webcomponents/webcomponentsjs@2.0.0/webcomponents-loader.js"></script>
<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/data-metrics-badge/dist/data-metrics-badge.min.js"></script>

<!-- app/views/hyrax/base/show.html.erb -->
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div>
    <div class="panel panel-default work-details-container">
      <%= render 'work_description_and_title', presenter: @presenter %>
      <%= render 'show_work_body' %>
    </div>
  </div>
</div>
